<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Template Curso - CPS Front-end</title>

  <!-- CPS Front-end core CSS -->
  <link rel="stylesheet" href="http://adammacias.github.io/cps-frontend/assets/css/centropaulasouza.css">

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  
</head>
<body class="yellow">
  <a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container">
      <span class="skiplink-text">Pular para o conteúdo</span>
    </div>
  </a>

  <header class="cps-header">
  <div class="container">
    <div class="logo-group">
      <div class="logo-group-item">
        <a class="logo logo-fatec" href="#" title="Página Inicial" data-title="Baixada Santista" data-sub-title="Rubens Lara">
          <h1 class="sr-only">Fatec Baixada Santista - Rubens Lara</h1>
        </a>
      </div>
      <div class="logo-group-item">
        <a class="logo logo-cps" href="http://www.cps.sp.gov.br" title="Portal do Centro Paula Souza" target="_blank">
          <h2 class="sr-only">Centro Paula Souza</h2>
        </a>
      </div>
      <div class="logo-group-item">
        <a class="logo logo-governo-sp" href="http://www.saopaulo.sp.gov.br" title="Portal do Governo do estado de São Paulo" target="_blank">
          <span class="sr-only">Governo do estado de São Paulo</span>
        </a>
      </div>
    </div>
  </div>
</header>

<nav class="cps-navbar" data-spy="affix" data-offset-top="140">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false" aria-controls="navbar-collapsed">
      <span class="sr-only">Alterar navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="#">Fatec-RL</a>
    </div>
    <div id="navbar-collapsed" class="collapse navbar-collapse ">
      <ul class="nav navbar-nav">
        <li class="home"><a href="#">Início</a></li>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li role="presentation" class="dropdown-header">Graduação</li>
            <li><a href="#">Curso 1</a></li>
            <li><a href="#">Curso 2</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Graduação a distância</li>
            <li><a href="#">Curso 3</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Área exclusiva &nbsp;<i class="fa fa-user fa-fw" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li role="presentation" class="dropdown-header">Acesso restrito</li>
            <li><a href="#"><i class="fa fa-lock fa-fw" aria-hidden="true"></i>&nbsp; SIGA</a></li>
            <li><a href="#"><i class="fa fa-lock fa-fw" aria-hidden="true"></i>&nbsp; Moodle</a></li>
            <li><a href="#"><i class="fa fa-lock fa-fw" aria-hidden="true"></i>&nbsp; E-mail Fatec</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Aluno</li>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<header class="cps-page-header">
  <h1>Template Curso</h1>
  <p class="lead">Cada curso possui uma cor específica.</p>
  <p><a href="#" class="btn btn-default">Consultar tabela de cores</a></p>
</header>

<main class="cps-main">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-secundary">
      <span class="sr-only">Alternar navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand visible-xs">Menu Curso</span>
    </div>
    <div id="navbar-secundary" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Trocar curso <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Curso 1</a></li>
            <li><a href="#">Curso 2</a></li>
            <li><a href="#">Curso 3</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <article id="content" tabindex="-1">
    <h2>Tipografia</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    <h2>Botões</h2>
    <p><a href="#" class="btn btn-primary">Botão Primary</a> - ou - <a href="#" class="btn btn-default">Botão Default</a></p>
    <h2>Etiqueta</h2>
    <p><span class="label label-default">Default</span> <span class="label label-primary">Primary</span></p>
    <h2>Lista em Grupo</h2>
    <div class="list-group">
      <a href="#" class="list-group-item active">Cras justo odio</a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
    <h2>Painéis</h2>
    <h4>Default</h4>
    <div class="panel panel-default">
      <div class="panel-heading">Panel heading without title</div>
      <div class="panel-body">Panel content</div>
    </div>
    <h4>Primary</h4>
    <div class="panel panel-primary">
      <div class="panel-heading">Panel heading without title</div>
      <div class="panel-body">Panel content</div>
    </div>
  </article>
</main>

<footer id="footer" class="cps-footer">
  <div class="container -fluid">
    <div class="row">
      <div class="col-md-3">
        <h4>Endereço</h4>
      <address>Av. Bartolomeu de Gusmão, 110<br>Aparecida — Santos-SP,<br>11045-908.</address>
      <p><a href="https://goo.gl/maps/dAxNg">mostrar mapa</a></p>
    </div>
    <div class="col-md-3">
      <h4>Contato</h4>
      <p class="lead">(99) 9999-9999<br>(99) 8888-8888</p>
      <p><a href="#">mail@contato.edu.br</a></p>
    </div>
    <div class="col-md-6">
      <h4>Social</h4>
      <ul class="nav nav-pills">
        <li><a href="#"><i class="fa fa-twitter fa-lg"></i>&nbsp; Twitter</a></li>
        <li><a href="#"><i class="fa fa-facebook-official fa-lg"></i>&nbsp; Facebook</a></li>
        <li><a href="#"><i class="fa fa-youtube fa-lg"></i>&nbsp; Youtube</a></li>
        <li><a href="#"><i class="fa fa-whatsapp fa-lg"></i>&nbsp; WhatsApp</a></li>
        <li><a href="#"><i class="fa fa-instagram fa-lg"></i>&nbsp; Instagram</a></li>
        <li><a href="#"><i class="fa fa-linkedin fa-lg"></i>&nbsp; LinkedIn</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <p>&copy; 2015 [Nome da Unidade].</p>
    <p>Desenvolvido com <a href="#">CPS Front-end</a> por <a href="#">[Nome do Desenvolvedor]</a>.</p>
  </div>
</div>
</footer>



  <!-- CPS Front-end core JavaScript -->
  
  <script src="http://adammacias.github.io/cps-frontend/assets/js/main.min.js"></script>
  
  
</body>
</html>
