<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Abas</title>
<meta name="description" content="Manual e framework front-end para projetos web do Centro Paula Souza.">
<link rel="canonical" href="https://adammacias.github.io/cps-frontend//components/tabs/">
<link rel="author" href="https://plus.google.com/" title="">
<link rel="alternate" type="application/rss+xml" title="CPS Front-end" href="https://adammacias.github.io/cps-frontend/feed.xml" />

<!-- Stylesheet -->
<link rel="stylesheet" href="https://adammacias.github.io/cps-frontend/assets/css/docs.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Favicons -->
<link rel="apple-touch-icon" href="https://adammacias.github.io/cps-frontend/assets/img/apple-touch-icon.png">
<link rel="icon" href="https://adammacias.github.io/cps-frontend/assets/img/favicon.ico">

<!-- Open Graph Tags -->
<meta property="og:type" content="article">
<meta property="og:title" content="Abas">
<meta property="og:description" content="Manual e framework front-end para projetos web do Centro Paula Souza.">
<meta property="og:url" content="https://adammacias.github.io/components/tabs/">
<meta property="og:site_name" content="CPS Front-end">
<meta property="og:image" content="https://adammacias.github.io/cps-frontend/assets/img/open-graph.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@" />
<meta name="twitter:creator" content="@" />

<!-- Pinned site Windows -->
<meta name="application-name" content="CPS Front-end" />
<meta name="msapplication-TileImage" content="https://adammacias.github.io/cps-frontend/assets/img/windows-tile.png">
<meta name="msapplication-TileColor" content="#ffffff">

  </head>
  <body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#content"><div class="container"><span class="skiplink-text">Pular para conteúdo</span></div></a>

    <header id="top" class="navbar navbar-default" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Alterar navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://adammacias.github.io/cps-frontend/">CPS Front-end</a>
    </div>
    <nav id="navbar" class="collapse navbar-collapse" role="navigation">
      
      <ul class="nav navbar-nav navbar-right">
                <li><a href="https://adammacias.github.io/cps-frontend/getting-started/introduction/">Ponto de Partida</a></li>
        <li><a href="https://adammacias.github.io/cps-frontend/content/introduction/">Estilos</a></li>
        <li class="dropdown ">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Componentes
        </a>
    <ul class="dropdown-menu">
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/grid">
                Sistema de grids
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/responsive-utilities">
                Utilitários Responsivo
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/media-object">
                Media object
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/icons">
                Ícones
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/buttons">
                Botões
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/button-dropdown">
                Botões Dropdowns
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/forms">
                Formulários
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/dropdowns">
                Dropdowns
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/label">
                Etiquetas
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/alerts">
                Alertas
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/card">
                Cards
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/navs">
                Navegações
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/navbar">
                Barra de navegação
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/pagination">
                Paginação
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/list-group">
                Grupos de listas
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/modal">
                Modal
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/collapse">
                Sanfona
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/tabs">
                Abas
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/carousel">
                Carrossel
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/utilities">
                Utilitários
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/lightbox">
                Lightbox
              </a>
        </li>
        <li class="">
            <a href="https://adammacias.github.io/cps-frontend/components/avatars">
                Avatares
              </a>
        </li>
    </ul>
</li>
<li><a href="https://adammacias.github.io/cps-frontend/branding/overview/">Identidade</a></li>
<li><a href="https://adammacias.github.io/cps-frontend/templates/">Templates</a></li>
<li><a href="https://adammacias.github.io/cps-frontend/about/history/">Sobre</a></li>

         

      </ul>
    </nav>
  </div>
</header>


    <header id="page-header">
      <div class="container">
        
  <h1>Componentes</h1>
  <p class="lead">
    Dezenas de componentes reutilizáveis criados para fornecer ícones, botões, paginação e  muito mais.
  </p>


      </div>
    </header>

    <div id="wrapper" class="container">
      <div class="row">

        
        <aside class="col-md-2" role="complementary" role="navigation">
          <br>
          <span class="sr-only">Índice</span>
          
            
          
            
          
            
            <ul class="nav nav-pills nav-stacked">
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/grid">Sistema de grids</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/responsive-utilities">Utilitários Responsivo</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/media-object">Media object</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/icons">Ícones</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/buttons">Botões</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/button-dropdown">Botões Dropdowns</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/forms">Formulários</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/dropdowns">Dropdowns</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/label">Etiquetas</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/alerts">Alertas</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/card">Cards</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/navs">Navegações</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/navbar">Barra de navegação</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/pagination">Paginação</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/list-group">Grupos de listas</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/modal">Modal</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/collapse">Sanfona</a>
                </li>
              
                
                

                
                
                

                <li class="active bd-sidenav-active">
                  <a href="https://adammacias.github.io/cps-frontend//components/tabs">Abas</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/carousel">Carrossel</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/utilities">Utilitários</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/lightbox">Lightbox</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="https://adammacias.github.io/cps-frontend//components/avatars">Avatares</a>
                </li>
              
            </ul>
            
          
            
          
            
          
            
          
        </aside>
        

        <main id="content" class="col-md-9 col-md-offset-1" role="main"  tabindex="-1">
          <div class="entry-content">
            <h1>Abas</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h2 id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#contents" id="markdown-toc-contents">Contents</a></li>
  <li><a href="#togglable-tabs-tabjs" id="markdown-toc-togglable-tabs-tabjs">Togglable tabs <code>tab.js</code></a>    <ul>
      <li><a href="#example-tabs" id="markdown-toc-example-tabs">Example tabs</a></li>
      <li><a href="#usage" id="markdown-toc-usage">Usage</a>        <ul>
          <li><a href="#markup" id="markdown-toc-markup">Markup</a></li>
          <li><a href="#fade-effect" id="markdown-toc-fade-effect">Fade effect</a></li>
          <li><a href="#methods" id="markdown-toc-methods">Methods</a>            <ul>
              <li><a href="#tab" id="markdown-toc-tab"><code>$().tab</code></a></li>
              <li><a href="#tabshow" id="markdown-toc-tabshow"><code>.tab('show')</code></a></li>
            </ul>
          </li>
          <li><a href="#events" id="markdown-toc-events">Events</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

<h1 id="togglable-tabs-tabjs">Togglable tabs <code>tab.js</code></h1>

<h2 id="example-tabs">Example tabs</h2>

<p>Add quick, dynamic tab functionality to transition through panes of local content, even via dropdown menus. <strong>Nested tabs are not supported.</strong></p>

<div class="bd-example" data-example-id="">
<div data-example-id="togglable-tabs">
	<ul id="myTabs" class="nav nav-tabs" role="tablist">
	  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Home</a></li>
	  <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Profile</a></li>
	  <li role="presentation" class="dropdown">
	    <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown" aria-controls="myTabDrop1-contents">Dropdown <span class="caret"></span></a>
	    <ul class="dropdown-menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents">
	      <li><a href="#dropdown1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">@fat</a></li>
	      <li><a href="#dropdown2" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">@mdo</a></li>
	    </ul>
	  </li>
	</ul>
	<div id="myTabContent" class="tab-content">
	  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
	    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
	  </div>
	  <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
	    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
	  </div>
	  <div role="tabpanel" class="tab-pane fade" id="dropdown1" aria-labelledby="dropdown1-tab">
	    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
	  </div>
	  <div role="tabpanel" class="tab-pane fade" id="dropdown2" aria-labelledby="dropdown2-tab">
	    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
	  </div>
	</div>
</div><!-- /example -->
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span>  <span class="na">data-example-id=</span><span class="s">"togglable-tabs"</span><span class="nt">&gt;</span>
	<span class="nt">&lt;ul</span> <span class="na">id=</span><span class="s">"myTabs"</span> <span class="na">class=</span><span class="s">"nav nav-tabs"</span> <span class="na">role=</span><span class="s">"tablist"</span><span class="nt">&gt;</span>
	  <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span> <span class="na">class=</span><span class="s">"active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#home"</span> <span class="na">id=</span><span class="s">"home-tab"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"tab"</span> <span class="na">aria-controls=</span><span class="s">"home"</span> <span class="na">aria-expanded=</span><span class="s">"true"</span><span class="nt">&gt;</span>Home<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
	  <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#profile"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">id=</span><span class="s">"profile-tab"</span> <span class="na">data-toggle=</span><span class="s">"tab"</span> <span class="na">aria-controls=</span><span class="s">"profile"</span><span class="nt">&gt;</span>Profile<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
	  <span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span> <span class="na">class=</span><span class="s">"dropdown"</span><span class="nt">&gt;</span>
	    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">id=</span><span class="s">"myTabDrop1"</span> <span class="na">class=</span><span class="s">"dropdown-toggle"</span> <span class="na">data-toggle=</span><span class="s">"dropdown"</span> <span class="na">aria-controls=</span><span class="s">"myTabDrop1-contents"</span><span class="nt">&gt;</span>Dropdown <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"caret"</span><span class="nt">&gt;&lt;/span&gt;&lt;/a&gt;</span>
	    <span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span> <span class="na">aria-labelledby=</span><span class="s">"myTabDrop1"</span> <span class="na">id=</span><span class="s">"myTabDrop1-contents"</span><span class="nt">&gt;</span>
	      <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#dropdown1"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">id=</span><span class="s">"dropdown1-tab"</span> <span class="na">data-toggle=</span><span class="s">"tab"</span> <span class="na">aria-controls=</span><span class="s">"dropdown1"</span><span class="nt">&gt;</span>@fat<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
	      <span class="nt">&lt;li&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#dropdown2"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">id=</span><span class="s">"dropdown2-tab"</span> <span class="na">data-toggle=</span><span class="s">"tab"</span> <span class="na">aria-controls=</span><span class="s">"dropdown2"</span><span class="nt">&gt;</span>@mdo<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
	    <span class="nt">&lt;/ul&gt;</span>
	  <span class="nt">&lt;/li&gt;</span>
	<span class="nt">&lt;/ul&gt;</span>
	<span class="nt">&lt;div</span> <span class="na">id=</span><span class="s">"myTabContent"</span> <span class="na">class=</span><span class="s">"tab-content"</span><span class="nt">&gt;</span>
	  <span class="nt">&lt;div</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">class=</span><span class="s">"tab-pane fade in active"</span> <span class="na">id=</span><span class="s">"home"</span> <span class="na">aria-labelledBy=</span><span class="s">"home-tab"</span><span class="nt">&gt;</span>
	    <span class="nt">&lt;p&gt;</span>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.<span class="nt">&lt;/p&gt;</span>
	  <span class="nt">&lt;/div&gt;</span>
	  <span class="nt">&lt;div</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">class=</span><span class="s">"tab-pane fade"</span> <span class="na">id=</span><span class="s">"profile"</span> <span class="na">aria-labelledBy=</span><span class="s">"profile-tab"</span><span class="nt">&gt;</span>
	    <span class="nt">&lt;p&gt;</span>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.<span class="nt">&lt;/p&gt;</span>
	  <span class="nt">&lt;/div&gt;</span>
	  <span class="nt">&lt;div</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">class=</span><span class="s">"tab-pane fade"</span> <span class="na">id=</span><span class="s">"dropdown1"</span> <span class="na">aria-labelledBy=</span><span class="s">"dropdown1-tab"</span><span class="nt">&gt;</span>
	    <span class="nt">&lt;p&gt;</span>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.<span class="nt">&lt;/p&gt;</span>
	  <span class="nt">&lt;/div&gt;</span>
	  <span class="nt">&lt;div</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">class=</span><span class="s">"tab-pane fade"</span> <span class="na">id=</span><span class="s">"dropdown2"</span> <span class="na">aria-labelledBy=</span><span class="s">"dropdown2-tab"</span><span class="nt">&gt;</span>
	    <span class="nt">&lt;p&gt;</span>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.<span class="nt">&lt;/p&gt;</span>
	  <span class="nt">&lt;/div&gt;</span>
	<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span><span class="c">&lt;!-- /example --&gt;</span></code></pre></div>

<div class="bd-callout bd-callout-info">
<h4 id="extends-tabbed-navigation">Extends tabbed navigation</h4>

<p>This plugin extends the <a href="../components/#nav-tabs">tabbed navigation component</a> to add tabbable areas.</p>

</div>

<h2 id="usage">Usage</h2>

<p>Enable tabbable tabs via JavaScript (each tab needs to be activated individually):</p>

<div class="highlight"><pre><code class="language-js" data-lang="js"><span class="nx">$</span><span class="p">(</span><span class="s1">'#myTabs a'</span><span class="p">).</span><span class="nx">click</span><span class="p">(</span><span class="kd">function</span> <span class="p">(</span><span class="nx">e</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">e</span><span class="p">.</span><span class="nx">preventDefault</span><span class="p">()</span>
  <span class="nx">$</span><span class="p">(</span><span class="k">this</span><span class="p">).</span><span class="nx">tab</span><span class="p">(</span><span class="s1">'show'</span><span class="p">)</span>
<span class="p">})</span></code></pre></div>

<p>You can activate individual tabs in several ways:</p>

<div class="highlight"><pre><code class="language-js" data-lang="js"><span class="nx">$</span><span class="p">(</span><span class="s1">'#myTabs a[href="#profile"]'</span><span class="p">).</span><span class="nx">tab</span><span class="p">(</span><span class="s1">'show'</span><span class="p">)</span> <span class="c1">// Select tab by name</span>
<span class="nx">$</span><span class="p">(</span><span class="s1">'#myTabs a:first'</span><span class="p">).</span><span class="nx">tab</span><span class="p">(</span><span class="s1">'show'</span><span class="p">)</span> <span class="c1">// Select first tab</span>
<span class="nx">$</span><span class="p">(</span><span class="s1">'#myTabs a:last'</span><span class="p">).</span><span class="nx">tab</span><span class="p">(</span><span class="s1">'show'</span><span class="p">)</span> <span class="c1">// Select last tab</span>
<span class="nx">$</span><span class="p">(</span><span class="s1">'#myTabs li:eq(2) a'</span><span class="p">).</span><span class="nx">tab</span><span class="p">(</span><span class="s1">'show'</span><span class="p">)</span> <span class="c1">// Select third tab (0-indexed)</span></code></pre></div>

<h3 id="markup">Markup</h3>

<p>You can activate a tab or pill navigation without writing any JavaScript by simply specifying <code>data-toggle="tab"</code> or <code>data-toggle="pill"</code> on an element. Adding the <code>nav</code> and <code>nav-tabs</code> classes to the tab <code>ul</code> will apply the Bootstrap <a href="../components/#nav-tabs">tab styling</a>, while adding the <code>nav</code> and <code>nav-pills</code> classes will apply <a href="../components/#nav-pills">pill styling</a></p>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div&gt;</span>

<span class="c">&lt;!-- Nav tabs --&gt;</span>
	<span class="nt">&lt;ul</span> <span class="na">class=</span><span class="s">"nav nav-tabs"</span> <span class="na">role=</span><span class="s">"tablist"</span><span class="nt">&gt;</span>
		<span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span> <span class="na">class=</span><span class="s">"active"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#home"</span> <span class="na">aria-controls=</span><span class="s">"home"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"tab"</span><span class="nt">&gt;</span>Home<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
		<span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#profile"</span> <span class="na">aria-controls=</span><span class="s">"profile"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"tab"</span><span class="nt">&gt;</span>Profile<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
		<span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#messages"</span> <span class="na">aria-controls=</span><span class="s">"messages"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"tab"</span><span class="nt">&gt;</span>Messages<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
		<span class="nt">&lt;li</span> <span class="na">role=</span><span class="s">"presentation"</span><span class="nt">&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#settings"</span> <span class="na">aria-controls=</span><span class="s">"settings"</span> <span class="na">role=</span><span class="s">"tab"</span> <span class="na">data-toggle=</span><span class="s">"tab"</span><span class="nt">&gt;</span>Settings<span class="nt">&lt;/a&gt;&lt;/li&gt;</span>
	<span class="nt">&lt;/ul&gt;</span>

<span class="c">&lt;!-- Tab panes --&gt;</span>
	<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"tab-content"</span><span class="nt">&gt;</span>
		<span class="nt">&lt;div</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">class=</span><span class="s">"tab-pane active"</span> <span class="na">id=</span><span class="s">"home"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
		<span class="nt">&lt;div</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">class=</span><span class="s">"tab-pane"</span> <span class="na">id=</span><span class="s">"profile"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
		<span class="nt">&lt;div</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">class=</span><span class="s">"tab-pane"</span> <span class="na">id=</span><span class="s">"messages"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
		<span class="nt">&lt;div</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">class=</span><span class="s">"tab-pane"</span> <span class="na">id=</span><span class="s">"settings"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
	<span class="nt">&lt;/div&gt;</span>

<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="fade-effect">Fade effect</h3>

<p>To make tabs fade in, add <code>.fade</code> to each <code>.tab-pane</code>. The first tab pane must also have <code>.in</code> to properly fade in initial content.</p>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"tab-content"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">class=</span><span class="s">"tab-pane fade in active"</span> <span class="na">id=</span><span class="s">"home"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">class=</span><span class="s">"tab-pane fade"</span> <span class="na">id=</span><span class="s">"profile"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">class=</span><span class="s">"tab-pane fade"</span> <span class="na">id=</span><span class="s">"messages"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">role=</span><span class="s">"tabpanel"</span> <span class="na">class=</span><span class="s">"tab-pane fade"</span> <span class="na">id=</span><span class="s">"settings"</span><span class="nt">&gt;</span>...<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="methods">Methods</h3>

<h4 id="tab"><code>$().tab</code></h4>

<p>Activates a tab element and content container. Tab should have either a <code>data-target</code> or an <code>href</code> targeting a container node in the DOM. In the above examples, the tabs are the <code>&amp;lt;a&amp;gt;</code>s with <code>data-toggle="tab"</code> attributes.</p>

<h4 id="tabshow"><code>.tab('show')</code></h4>

<p>Selects the given tab and shows its associated content. Any other tab that was previously selected becomes unselected and its associated content is hidden. <strong>Returns to the caller before the tab pane has actually been shown</strong> (i.e. before the <code>shown.bs.tab</code> event occurs).</p>

<div class="highlight"><pre><code class="language-js" data-lang="js"><span class="nx">$</span><span class="p">(</span><span class="s1">'#someTab'</span><span class="p">).</span><span class="nx">tab</span><span class="p">(</span><span class="s1">'show'</span><span class="p">)</span></code></pre></div>

<h3 id="events">Events</h3>

<p>When showing a new tab, the events fire in the following order:</p>

<ul>
  <li><code>hide.bs.tab</code> (on the current active tab)</li>
  <li><code>show.bs.tab</code> (on the to-be-shown tab)</li>
  <li><code>hidden.bs.tab</code> (on the previous active tab, the same one as for the <code>hide.bs.tab</code> event)</li>
  <li><code>shown.bs.tab</code> (on the newly-active just-shown tab, the same one as for the <code>show.bs.tab</code> event)</li>
</ul>

<p>If no tab was already active, then the <code>hide.bs.tab</code> and <code>hidden.bs.tab</code> events will not be fired.</p>

<div class="table-responsive">
	<table class="table table-bordered table-striped bs-events-table">
		<thead>
			<tr>
		        <th>Event Type</th>
		        <th>Description</th>
    		</tr>
  		</thead>
  		<tbody>
		    <tr>
		        <td>show.bs.tab</td>
		        <td>This event fires on tab show, but before the new tab has been shown. Use <code>event.target</code> and <code>event.relatedTarget</code> to target the active tab and the previous active tab (if available) respectively.</td>
		    </tr>
		    <tr>
		       <td>shown.bs.tab</td>
		       <td>This event fires on tab show after a tab has been shown. Use <code>event.target</code> and <code>event.relatedTarget</code> to target the active tab and the previous active tab (if available) respectively.</td>
		    </tr>
		    <tr>
		       <td>hide.bs.tab</td>
		       <td>This event fires when a new tab is to be shown (and thus the previous active tab is to be hidden). Use <code>event.target</code> and <code>event.relatedTarget</code> to target the current active tab and the new soon-to-be-active tab, respectively.</td>
		    </tr>
		    <tr>
		       <td>hidden.bs.tab</td>
		       <td>This event fires after a new tab is shown (and thus the previous active tab is hidden). Use <code>event.target</code> and <code>event.relatedTarget</code> to target the previous active tab and the new active tab, respectively.</td>
		    </tr>
	    </tbody>
   </table>
</div>
<!-- /.table-responsive -->

<div class="highlight"><pre><code class="language-js" data-lang="js"><span class="nx">$</span><span class="p">(</span><span class="s1">'a[data-toggle="tab"]'</span><span class="p">).</span><span class="nx">on</span><span class="p">(</span><span class="s1">'shown.bs.tab'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">(</span><span class="nx">e</span><span class="p">)</span> <span class="p">{</span>
  <span class="nx">e</span><span class="p">.</span><span class="nx">target</span> <span class="c1">// newly activated tab</span>
  <span class="nx">e</span><span class="p">.</span><span class="nx">relatedTarget</span> <span class="c1">// previous active tab</span>
<span class="p">})</span></code></pre></div>

          </div>
        </main>

      </div>
    </div><!-- /#wrapper  -->

    <footer id="footer">
  <p class="text-center h5"><i class="fa fa-code"></i> criado <i class="fa fa-heart palette-red-color"></i> na Fatec Baixada Santista - Rubens Lara.</p>
  <p class="text-center h6">Por <a href="#">Equipe CPS Front-end</a>.</p>

  <!--<p class="text-center">This site is &copy; to CPS Front-end 2015</p>-->
</footer>



<!-- Scripts -->

<script src="https://adammacias.github.io/cps-frontend/assets/js/main.min.js"></script>



  </body>
</html>
