<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Avatares</title>
<meta name="description" content="Manual e framework front-end para projetos web do Centro Paula Souza.">
<link rel="canonical" href="http://adammacias.github.io/cps-frontend//components/avatars/">
<link rel="author" href="https://plus.google.com/" title="">
<link rel="alternate" type="application/rss+xml" title="CPS Front-end" href="http://adammacias.github.io/cps-frontend/feed.xml" />

<!-- Stylesheet -->
<link rel="stylesheet" href="http://adammacias.github.io/cps-frontend/assets/css/docs.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Favicons -->
<link rel="apple-touch-icon" href="http://adammacias.github.io/cps-frontend/assets/img/apple-touch-icon.png">
<link rel="icon" href="http://adammacias.github.io/cps-frontend/assets/img/favicon.ico">

<!-- Open Graph Tags -->
<meta property="og:type" content="article">
<meta property="og:title" content="Avatares">
<meta property="og:description" content="Manual e framework front-end para projetos web do Centro Paula Souza.">
<meta property="og:url" content="http://adammacias.github.io/components/avatars/">
<meta property="og:site_name" content="CPS Front-end">
<meta property="og:image" content="http://adammacias.github.io/cps-frontend/assets/img/open-graph.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@" />
<meta name="twitter:creator" content="@" />

<!-- Pinned site Windows -->
<meta name="application-name" content="CPS Front-end" />
<meta name="msapplication-TileImage" content="http://adammacias.github.io/cps-frontend/assets/img/windows-tile.png">
<meta name="msapplication-TileColor" content="#ffffff">


    <style type="text/css">
    ul#markdown-toc > li:first-child {
      display: none;
    }

    .entry-content h2 {
      border-top: 1px solid #3C0E66;
      margin-top: 40px;
      padding-top: 30px;
    }

      /* EXAMPLE */
    .bd-example {
      background: #E5E5E5;
      padding: 10px 20px;
      border: 1px solid #CCC;
      border-bottom: 0px;
      border-radius: 10px 10px 0 0;
    }
    .bd-example h2 {
      border-top: none;
      margin-top: 20px;
      padding-top: 0px;
    }
    .highlight pre {
      border-radius: 0 0 10px 10px;
    }

    /* BRANDING */

.bd-example .logo {
    /* zoom: 110%;
  -moz-transform: scale(1.1);*/
}


.docs-logo {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.docs-logo p {
  margin: 0;
}

.docs-logo .logo {
  zoom: 110%;
  -moz-transform: scale(1.1);
}





.docs-logo-img {
  padding: 30px;
}
.docs-logo-img img {
  max-width: 300px;
}
.docs-logo-img figcaption {
    margin-top: 15px;
}
.label-success {
  background: lime;
}
.label-danger {
  background: red;
}
.docs-palette {
  padding: 10px 15px 0;
  font-size: 12px;
}



    </style>
  </head>
  <body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#main"><div class="container"><span class="skiplink-text">Pular para conteúdo</span></div></a>

    <header id="top" class="navbar navbar-default" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Alterar navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://adammacias.github.io/cps-frontend/">CPS Front-end</a>
    </div>
    <nav id="navbar" class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Todas as Páginas <span class="caret"></span></a>
          <ul class="dropdown-menu">
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/alerts/">Alertas</a>
              </li>
            
            
              
              <li class="item-page active">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/avatars/">Avatares</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//getting-started/best-practices/">Boas práticas</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/button-dropdown/">Botões Dropdowns</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/buttons/">Botões</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/card/">Cards</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/carousel/">Carrossel</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//content/code/">Código</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/collapse/">Sanfona</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//branding/cps/">Centro Paula Souza</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/dropdowns/">Dropdowns</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//branding/etecs/">Etecs</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//branding/fatecs/">Fatecs</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//content/figures/">Figuras</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/forms/">Formulários</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//branding/governo-sp/">Governo do estado de São Paulo</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/grid/">Sistema de Grids</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//about/history/">História</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/icons/">Ícones</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//content/images/">Imagens</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//templates/calendario/">Template Home</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//templates/blog/">Template Blog</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//templates/contact/">Template Contato</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//templates/page/">Template Padrão</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//templates/page-sidebar/">Template Barra lateral</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//templates/showcase-cps/">Template Padrão</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//templates/showcase-etec-aristoteles/">Etec Aristóteles Ferreira</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//templates/home/">Template Home</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//templates/showcase-siga/">SIGA</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//templates/course/">Template Curso</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//templates/estilos/">Template Estilos</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//templates/">Templates</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//getting-started/install/">Instalação</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//getting-started/introduction/">Introdução</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//content/introduction/">Introdução</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/label/">Etiquetas</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//about/license/">Licença</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/lightbox/">Lightbox</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/list-group/">Grupos de listas</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/media-object/">Media object</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/modal/">Modal</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/navbar/">Barra de navegação</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/navs/">Navegações</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//branding/overview/">Visão geral</a>
              </li>
            
            
              
            
              
            
              
            
              
            
              
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/pagination/">Paginação</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/responsive-utilities/">Utilitários Responsivo</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//about/showcases/">Showcases</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//content/tables/">Tabelas</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/tabs/">Abas</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//about/team/">Equipe</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//getting-started/template-base/">Template padrão</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//branding/typography/">Tipografia</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//content/typography/">Tipografia</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-frontend//components/utilities/">Utilitários</a>
              </li>
            
            
              
            
              
            
              
            
              
            
              
            
        </ul>
        </li>
        -->

        
    
      
      
      

      

      <li class="dropdown ">
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        
          Ponto de partida
        </a>

        <ul class="dropdown-menu">
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//getting-started/introduction">
                Introdução
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//getting-started/install">
                Instalação
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//getting-started/template-base">
                Template Básico
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//getting-started/best-practices">
                Boas práticas
              </a>

              
            </li>
          
        </ul>
      </li>
    
      
      
      

      

      <li class="dropdown ">
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        
          Estilos
        </a>

        <ul class="dropdown-menu">
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//content/introduction">
                Introdução
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//content/typography">
                Tipografia
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//content/code">
                Código
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//content/images">
                Imagens
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//content/tables">
                Tabelas
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//content/figures">
                Figuras
              </a>

              
            </li>
          
        </ul>
      </li>
    
      
      
      

      

      <li class="dropdown ">
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        
          Componentes
        </a>

        <ul class="dropdown-menu">
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/grid">
                Sistema de grids
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/responsive-utilities">
                Utilitários Responsivo
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/media-object">
                Media object
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/icons">
                Ícones
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/buttons">
                Botões
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/button-dropdown">
                Botões Dropdowns
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/forms">
                Formulários
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/dropdowns">
                Dropdowns
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/label">
                Etiquetas
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/alerts">
                Alertas
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/card">
                Cards
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/navs">
                Navegações
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/navbar">
                Barra de navegação
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/pagination">
                Paginação
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/list-group">
                Grupos de listas
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/modal">
                Modal
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/collapse">
                Sanfona
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/tabs">
                Abas
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/carousel">
                Carrossel
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/utilities">
                Utilitários
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/lightbox">
                Lightbox
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//components/avatars">
                Avatares
              </a>

              
            </li>
          
        </ul>
      </li>
    
      
      
      

      

      <li class="dropdown ">
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        
          Identidade
        </a>

        <ul class="dropdown-menu">
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//branding/overview">
                Visão geral
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//branding/cps">
                Centro Paula Souza
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//branding/governo-sp">
                Governo do estado de São Paulo
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//branding/fatecs">
                Fatecs
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//branding/etecs">
                Etecs
              </a>

              
            </li>
          
        </ul>
      </li>
    
      
      
      

      

      <li class="dropdown ">
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        
          Templates
        </a>

        <ul class="dropdown-menu">
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//templates/">
                Todos
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//templates/page">
                Página padrão
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//templates/page-sidebar">
                Página com barra lateral
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//templates/blog">
                Página Blog
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//templates/page-course">
                Página curso
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//templates/page-css">
                Página CSS
              </a>

              
            </li>
          
        </ul>
      </li>
    
      
      
      

      

      <li class="dropdown ">
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        
          Sobre
        </a>

        <ul class="dropdown-menu">
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//about/history">
                História
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//about/team">
                Equipe
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//about/license">
                Licença
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-frontend//about/showcases">
                Showcases
              </a>

              
            </li>
          
        </ul>
      </li>
    




        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Templates</a>
          <ul class="dropdown-menu">
            
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
        </ul>
        </li>
        -->


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/adammacias/cps-frontend" target="_blank">GitHub</a></li>
        <li><a href="https://github.com/adammacias/cps-frontend/issues" target="_blank">Issues</a></li>
      </ul>
    </nav>
  </div>
</header>


    <header id="page-header">
      <div class="container">
        
  <h1>Componentes</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>


      </div>
    </header>

    <div id="wrapper" class="container">
      <div class="row">

        
        <aside class="col-md-2" role="complementary" role="navigation">
          <br>
          <span class="sr-only">Índice</span>
          
            
          
            
          
            
            <ul class="nav nav-pills nav-stacked">
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/grid">Sistema de grids</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/responsive-utilities">Utilitários Responsivo</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/media-object">Media object</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/icons">Ícones</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/buttons">Botões</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/button-dropdown">Botões Dropdowns</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/forms">Formulários</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/dropdowns">Dropdowns</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/label">Etiquetas</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/alerts">Alertas</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/card">Cards</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/navs">Navegações</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/navbar">Barra de navegação</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/pagination">Paginação</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/list-group">Grupos de listas</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/modal">Modal</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/collapse">Sanfona</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/tabs">Abas</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/carousel">Carrossel</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/utilities">Utilitários</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-frontend//components/lightbox">Lightbox</a>
                </li>
              
                
                

                
                
                

                <li class="active bd-sidenav-active">
                  <a href="http://adammacias.github.io/cps-frontend//components/avatars">Avatares</a>
                </li>
              
            </ul>
            
          
            
          
            
          
            
          
        </aside>
        

        <main id="content" class="col-md-9 col-md-offset-1" role="main"  tabindex="-1">
          <div class="entry-content">
            <h1>Avatares</h1>
            <p class="lead">Use avatares para exibir o perfil de pessoas, como exemplo, docentes, alunos, coordenadores e etc.</p>

<h2 id="contedo">Conteúdo</h2>

<ul id="markdown-toc">
  <li><a href="#contedo" id="markdown-toc-contedo">Conteúdo</a></li>
  <li><a href="#exemplos" id="markdown-toc-exemplos">Exemplos</a>    <ul>
      <li><a href="#combinao-com-cones" id="markdown-toc-combinao-com-cones">Combinação com ícones</a></li>
      <li><a href="#aumentar-tamanho" id="markdown-toc-aumentar-tamanho">Aumentar tamanho</a></li>
    </ul>
  </li>
  <li><a href="#lista-de-avatares" id="markdown-toc-lista-de-avatares">Lista de avatares</a></li>
  <li><a href="#avatar-vertical" id="markdown-toc-avatar-vertical">Avatar vertical</a></li>
</ul>

<h2 id="exemplos">Exemplos</h2>

<p>Para criar um avatar, precisamos combinar no 5 classes, que são: <code>.avatar</code>, <code>.avatar-default</code>, <code>.avatar-foto</code>, <code>.avatar-details</code>, <code>.avatar-name</code>. Confira um exemplo abaixo.</p>

<div class="bd-example" data-example-id="">
<div class="avatar avatar-default">
  <div class="avatar-foto">
    <a href="#">
      <img src="https://avatars1.githubusercontent.com/u/11800538" alt="..." />
    </a>
  </div>
  <div class="avatar-details">
    <h4 class="avatar-name">Ramon Duran</h4>
    <p><a href="#">Link</a> ou texto simples</p>
  </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar avatar-default"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-foto"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"https://avatars1.githubusercontent.com/u/11800538"</span> <span class="na">alt=</span><span class="s">"..."</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-details"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"avatar-name"</span><span class="nt">&gt;</span>Ramon Duran<span class="nt">&lt;/h4&gt;</span>
    <span class="nt">&lt;p&gt;&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Link<span class="nt">&lt;/a&gt;</span> ou texto simples<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="combinao-com-cones">Combinação com ícones</h3>

<p>Utilize os ícones social para economizar espaço. <a href="http://adammacias.github.io/cps-frontend/components/icons/">Veja como utilizar ícones</a>.</p>

<div class="bd-example" data-example-id="">
<div class="avatar avatar-default">
  <div class="avatar-foto">
    <a href="#">
      <img src="https://avatars0.githubusercontent.com/u/4764189" alt="..." />
    </a>
  </div>
  <div class="avatar-details">
    <h4 class="avatar-name">Flávia Souza</h4>
    <p>
      <a href="#"><i class="fa fa-facebook-official"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </p>
  </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar avatar-default"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-foto"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"https://avatars0.githubusercontent.com/u/4764189"</span> <span class="na">alt=</span><span class="s">"..."</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-details"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"avatar-name"</span><span class="nt">&gt;</span>Flávia Souza<span class="nt">&lt;/h4&gt;</span>
    <span class="nt">&lt;p&gt;</span>
      <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;&lt;i</span> <span class="na">class=</span><span class="s">"fa fa-facebook-official"</span><span class="nt">&gt;&lt;/i&gt;&lt;/a&gt;</span> 
      <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;&lt;i</span> <span class="na">class=</span><span class="s">"fa fa-twitter"</span><span class="nt">&gt;&lt;/i&gt;&lt;/a&gt;</span> 
      <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;&lt;i</span> <span class="na">class=</span><span class="s">"fa fa-linkedin"</span><span class="nt">&gt;&lt;/i&gt;&lt;/a&gt;</span>
    <span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="aumentar-tamanho">Aumentar tamanho</h3>

<p>É possível aumentar o tamanho da foto do avatar acrescentando a class <code>.avatar-lg</code>. Recomenda-se este uso, caso exista uma descrição longa, veja o exemplo abaixo.</p>

<div class="bd-example" data-example-id="">
<div class="avatar avatar-default avatar-lg">
  <div class="avatar-foto">
    <a href="#">
      <img src="https://avatars3.githubusercontent.com/u/1139893" alt="..." />
    </a>
  </div>
  <div class="avatar-details">
    <h4 class="avatar-name">Adam Macias</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
  </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar avatar-default avatar-lg"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-foto"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"https://avatars3.githubusercontent.com/u/1139893"</span> <span class="na">alt=</span><span class="s">"..."</span><span class="nt">&gt;</span>
    <span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-details"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h4</span> <span class="na">class=</span><span class="s">"avatar-name"</span><span class="nt">&gt;</span>Adam Macias<span class="nt">&lt;/h4&gt;</span>
    <span class="nt">&lt;p&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.<span class="nt">&lt;/p&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h2 id="lista-de-avatares">Lista de avatares</h2>

<p>Combine avatares com o uso do componente <a href="http://adammacias.github.io/cps-frontend/components/list-group/">Grupos de listas</a>. Veja um exemplo:</p>

<div class="bd-example" data-example-id="">
<section class="list-group">
  <h4>Pessoas</h4>
  <div class="list-group-item">
    <div class="avatar avatar-default">
      <div class="avatar-foto">
        <a href="#">
          <img src="https://avatars3.githubusercontent.com/u/1139893" alt="" />
        </a>
      </div>
      <div class="avatar-details">
        <h5 class="avatar-name">Adam Macias</h5>
        <p>@adammacias</p>
      </div>
    </div>
  </div>
  <div class="list-group-item">
    <div class="avatar avatar-default avatar-default">
      <div class="avatar-foto">
        <a href="#">
          <img src="https://avatars0.githubusercontent.com/u/4764189" alt="" />
        </a>
      </div>
      <div class="avatar-details">
        <h5 class="avatar-name">Flávia Souza</h5>
        <p>@flaviacs</p>
      </div>
    </div>
  </div>
</section>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"list-group"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h4&gt;</span>Pessoas<span class="nt">&lt;/h4&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"list-group-item"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar avatar-default"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-foto"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"https://avatars3.githubusercontent.com/u/1139893"</span> <span class="na">alt=</span><span class="s">""</span> <span class="nt">/&gt;</span>
        <span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-details"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h5</span> <span class="na">class=</span><span class="s">"avatar-name"</span><span class="nt">&gt;</span>Adam Macias<span class="nt">&lt;/h5&gt;</span>
        <span class="nt">&lt;p&gt;</span>@adammacias<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"list-group-item"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar avatar-default avatar-default"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-foto"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"https://avatars0.githubusercontent.com/u/4764189"</span> <span class="na">alt=</span><span class="s">""</span> <span class="nt">/&gt;</span>
        <span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-details"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h5</span> <span class="na">class=</span><span class="s">"avatar-name"</span><span class="nt">&gt;</span>Flávia Souza<span class="nt">&lt;/h5&gt;</span>
        <span class="nt">&lt;p&gt;</span>@flaviacs<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/section&gt;</span></code></pre></div>

<h2 id="avatar-vertical">Avatar vertical</h2>

<p>É possível mostrar o avatar no modo vertical, para isso, ao invés de usar a classe <code>.avatar-default</code> use a <code>.avatar-vertical</code>. Veja o uso com colunas.</p>

<div class="bd-example" data-example-id="">
<section class="row">
  <div class="col-md-12">
    <h4>Pessoas</h4>
  </div>
  <div class="col-md-4">
    <div class="avatar avatar-vertical">
      <div class="avatar-foto">
        <a href="#">
          <img src="https://avatars3.githubusercontent.com/u/1139893" alt="" />
        </a>
      </div>
      <div class="avatar-details">
        <h5 class="avatar-name">Adam Macias</h5>
        <p>@adammacias</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="avatar avatar-vertical">
      <div class="avatar-foto">
        <a href="#">
          <img src="https://avatars0.githubusercontent.com/u/4764189" alt="" />
        </a>
      </div>
      <div class="avatar-details">
        <h5 class="avatar-name">Flávia Souza</h5>
        <p>@flaviacs</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="avatar avatar-vertical">
      <div class="avatar-foto">
        <a href="#">
          <img src="https://avatars1.githubusercontent.com/u/11800538" alt="" />
        </a>
      </div>
      <div class="avatar-details">
        <h5 class="avatar-name">Ramon Duran</h5>
        <p>@ramonduran</p>
      </div>
    </div>
  </div>
</section>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;section</span> <span class="na">class=</span><span class="s">"row"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-12"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;h4&gt;</span>Pessoas<span class="nt">&lt;/h4&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-4"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar avatar-vertical"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-foto"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"https://avatars3.githubusercontent.com/u/1139893"</span> <span class="na">alt=</span><span class="s">""</span> <span class="nt">/&gt;</span>
        <span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-details"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h5</span> <span class="na">class=</span><span class="s">"avatar-name"</span><span class="nt">&gt;</span>Adam Macias<span class="nt">&lt;/h5&gt;</span>
        <span class="nt">&lt;p&gt;</span>@adammacias<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-4"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar avatar-vertical"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-foto"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"https://avatars0.githubusercontent.com/u/4764189"</span> <span class="na">alt=</span><span class="s">""</span> <span class="nt">/&gt;</span>
        <span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-details"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h5</span> <span class="na">class=</span><span class="s">"avatar-name"</span><span class="nt">&gt;</span>Flávia Souza<span class="nt">&lt;/h5&gt;</span>
        <span class="nt">&lt;p&gt;</span>@flaviacs<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-md-4"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar avatar-vertical"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-foto"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
          <span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">"https://avatars1.githubusercontent.com/u/11800538"</span> <span class="na">alt=</span><span class="s">""</span> <span class="nt">/&gt;</span>
        <span class="nt">&lt;/a&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
      <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"avatar-details"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;h5</span> <span class="na">class=</span><span class="s">"avatar-name"</span><span class="nt">&gt;</span>Ramon Duran<span class="nt">&lt;/h5&gt;</span>
        <span class="nt">&lt;p&gt;</span>@ramonduran<span class="nt">&lt;/p&gt;</span>
      <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/section&gt;</span></code></pre></div>


          </div>
        </main>

      </div>
    </div><!-- /#wrapper  -->

    <footer id="footer">
  <p class="text-center">This site is &copy; to CPS Front-end 2015</p>
</footer>



<!-- Scripts -->

<script src="http://adammacias.github.io/cps-frontend/assets/js/main.min.js"></script>



  </body>
</html>
