<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Template Home - CPS Front-end</title>

  <!-- CPS Front-end core CSS -->
  <link rel="stylesheet" href="http://adammacias.github.io/cps-bootstrap/assets/css/centropaulasouza.css">

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  
  <!-- CSS customizado -->
  <link rel="stylesheet" href="home.css">
  
</head>
<body>
  <a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container">
      <span class="skiplink-text">Pular para o conteúdo</span>
    </div>
  </a>

  <h1>TO-DO</h1>


  <!-- CPS Front-end core JavaScript -->
  
  <script src="http://adammacias.github.io/cps-bootstrap/assets/js/main.min.js"></script>
  
  
</body>
</html>
