---
layout: template
title: Template Barra lateral
description: "..."
css: page-sidebar.css
---
{% include templates/header.html %}
<header class="cps-page-header">
  <h1>Template Barra lateral</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</header>
<main class="cps-main">
  <div class="row">
    <aside id="sidebar" class="col-md-3">
      <h3>Navegação</h3>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
      <hr>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Título</h4>
        </div>
        <div class="panel-body">
          <h6>Sub-título:</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <hr>
          <p><a href="#" class="btn btn-default btn-block">Botão</a></p>
        </div>
      </div>
    </aside>
    <article id="content" class="col-md-9" tabindex="-1">
      <h1>Cabeçalho H1</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <h2>Texto H2</h2>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>Texto H3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h2>Texto H2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </article>
  </div>
</main>
{% include templates/footer.html %}
