<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Etec Aristóteles Ferreira - CPS Front-end</title>

  <!-- CPS Front-end core CSS -->
  <link rel="stylesheet" href="http://adammacias.github.io/cps-frontend/assets/css/centropaulasouza.css">

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  
  <!-- CSS customizado -->
  <link rel="stylesheet" href="page.css">
  
</head>
<body>
  <a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container">
      <span class="skiplink-text">Pular para o conteúdo</span>
    </div>
  </a>

  <header class="cps-header">
  <div class="container">
    <div class="logo-group">
      <div class="logo-group-item">
        <a class="logo logo-etec" href="#" title="Página Inicial" data-title="Aristóteles Ferreira" data-sub-title="Santos">
          <h1 class="sr-only">Etec Aristóteles Ferreira</h1>
        </a>
      </div>
      <div class="logo-group-item">
        <a class="logo logo-cps" href="http://www.cps.sp.gov.br" title="Portal do Centro Paula Souza" target="_blank">
          <h2 class="sr-only">Centro Paula Souza</h2>
        </a>
      </div>
      <div class="logo-group-item">
        <a class="logo logo-governo-sp" href="http://www.saopaulo.sp.gov.br" title="Portal do Governo do estado de São Paulo" target="_blank">
          <span class="sr-only">Governo do estado de São Paulo</span>
        </a>
      </div>
    </div>
  </div>
</header>
<nav class="cps-navbar" data-spy="affix" data-offset-top="140">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false" aria-controls="navbar-collapsed">
      <span class="sr-only">Alterar navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="#">Fatec-RL</a>
    </div>
    <div id="navbar-collapsed" class="collapse navbar-collapse ">
      <ul class="nav navbar-nav">
        <li class="home"><a href="#">Início</a></li>
        <li><a href="#">Institucional</a></li>
        <li><a href="#">Vestibulinho</a></li>
        <li><a href="#">Cursos</a></li>
        <li><a href="#">Ensino Médio</a></li>
        <li><a href="#">Notícias</a></li>
        <li><a href="#">Contato</a></li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Mais <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Downloads</a></li>
            <li><a href="#">Publicações</a></li>
            <li><a href="#">Capacitações</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Área exclusiva &nbsp;<i class="fa fa-user fa-fw" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li role="presentation" class="dropdown-header">Acesso restrito</li>
            <li><a href="#"><i class="fa fa-lock fa-fw" aria-hidden="true"></i>&nbsp; SIGA</a></li>
            <li><a href="#"><i class="fa fa-lock fa-fw" aria-hidden="true"></i>&nbsp; E-mail Etec</a></li>
            <li><a href="#"><i class="fa fa-lock fa-fw" aria-hidden="true"></i>&nbsp; E-mail Fatec</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <div id="carousel-example" class="carousel carousel-thumbnail slide" data-ride="carousel">
    <!-- carousel indicadores
    <ol class="carousel-indicators">
      <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example" data-slide-to="1"></li>
      <li data-target="#carousel-example" data-slide-to="2"></li>
    </ol>-->
    <!-- carousel slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="row">
          <div class="col-xs-5">
            <a class="thumbnail thumbnail-lg">
              <img src="http://adammacias.github.io/cps-frontend/templates/showcase-etec-aristoteles/images/banner-002.jpg" alt="First slide image" class="img-responsive">
              <div class="thumbnail-caption">
                <h3 class="thumbnail-caption-title">Professores <br>participam de Capacitação no <br>SENAI</h3>
              </div>
            </a>
          </div>
          <div class="col-xs-7">
            <a class="thumbnail thumbnail-lg">
              <img src="http://adammacias.github.io/cps-frontend/templates/showcase-etec-aristoteles/images/banner-001.jpg" alt="" class="img-responsive">
              <div class="thumbnail-caption">
                <h3 class="thumbnail-caption-title">Capacitação Sistema de <br>Pontuação Docente e <br>Classificação Docente</h3>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- carousel setas
    <div class="hidden-xs">
      <a data-slide="prev" href="#carousel-example" class="left carousel-control">‹</a>
      <a data-slide="next" href="#carousel-example" class="right carousel-control hidden-xs">›</a>
    </div>
    <div class="visible-xs">
      <a data-slide="prev" href="#carousel-example" class="pull-left carousel-control-xs btn btn-default ">‹ Anterior</a>
      <a data-slide="next" href="#carousel-example" class="pull-right carousel-control-xs btn btn-default visible-xs">Próximo ›</a>
    </div>
    -->
  </div>
</div>
<hr>
<main class="cps-main">
<div class="row">
  <section class="col-md-4">
    <h2 class="h3">Notícias</h2>
    
      <article>
        <a href="#" class="thumbnail">
          <img src="http://etecaf.com.br/wp-content/uploads/2015/08/11889613_874681569268416_6325091825838028284_n.jpg" class="img-responsive img-rounded" alt="">
          <div class="caption">
            <h3 class="h6">Café Literário</h3>
            <p class="text-muted">09/09/2015</p>
            <p class="small">A escritora Ozeni Lima e o professor escritor Julio falando durante toda manhã do dia 19/08 sobre como iniciaram suas carreiras, dificuldades encontradas, desafios e sonhos....</p>
          </div>
        </a>
      </article>
    
      <article>
        <a href="#" class="thumbnail">
          
          <div class="caption">
            <h3 class="h6">Centro Paula Souza comemora 46 anos</h3>
            <p class="text-muted">09/09/2015</p>
            <p class="small">Instituição referência em ensino profissional investe em parcerias, inovação e empreendedorismo...</p>
          </div>
        </a>
      </article>
    
      <article>
        <a href="#" class="thumbnail">
          
          <div class="caption">
            <h3 class="h6">Fatecs divulgam resultado de isenção e redução da taxa do Vestibular</h3>
            <p class="text-muted">09/09/2015</p>
            <p class="small">Além das seis mil isenções ofertadas, as Fatecs concederam redução de 50% na taxa de inscrição, aos...</p>
          </div>
        </a>
      </article>
    
      <article>
        <a href="#" class="thumbnail">
          
          <div class="caption">
            <h3 class="h6">Estão abertas as inscrições para o Vestibulinho das Etecs</h3>
            <p class="text-muted">09/09/2015</p>
            <p class="small">Entre as novidades deste processo seletivo estão os cursos de Cozinha e...</p>
          </div>
        </a>
      </article>
    
    <p class="text-center"><a href="#" class="btn btn-default btn-block">Ver mais notícias</a></p>
  </section>
  <section class="col-md-8">
    <h2 class="h3">Cursos Técnicos</h2>
    <p class="lead">Cursos Técnicos oferecidos pela ETEC Aristóteles Ferreira</p>
    <div class="row">
      <article class="col-sm-4">
        <a href="#" class="thumbnail">
          <img src="http://etecaf.com.br/wp-content/uploads/2015/07/etim-eletronica-aristoteles-485x300.jpg" class="img-responsive img-rounded" alt="">
          <div class="caption">
            <h3 class="h6">Técnico em Eletrônica</h3>
            <p class="small">Técnico em Eletrônica O TÉCNICO EM ELETRÔNICA é o profissional que participa do desenvolvimento de projetos. Executa a instalação e...</p>
          </div>
        </a>
      </article>
      <article class="col-sm-4">
        <a href="#" class="thumbnail">
          <img src="http://etecaf.com.br/wp-content/uploads/2015/07/eletrotecnica-485x300.jpg" class="img-responsive img-rounded" alt="">
          <div class="caption">
            <h3 class="h6">Técnico em Eletrotécnica</h3>
            <p class="small">Curso Técnico em ELETROTÉCNICA O TÉCNICO EM ELETROTÉCNICA é o profissional que instala, opera e mantém elementos de geração, transmissão...</p>
          </div>
        </a>
      </article>
      <article class="col-sm-4">
        <a href="#" class="thumbnail">
          <img src="http://etecaf.com.br/wp-content/uploads/2015/07/desenho-de-construcao-civil-485x300.jpg" class="img-responsive img-rounded" alt="">
          <div class="caption">
            <h3 class="h6">Técnico em Edificações</h3>
            <p class="small">Curso Técnico em EDIFICAÇÕES Eixo Tecnológico: Infraestrutura &nbsp; O TÉCNICO EM EDIFICAÇÕES é o profissional que desenvolve e executa projetos...</p>
          </div>
        </a>
      </article>
    </div>
    <hr>
    <h2 class="h3">Vídeos</h2>
    <div class="row">
      <article class="col-sm-6">
        <a href="#" class="thumbnail">
          <img src="http://etecaf.com.br/wp-content/uploads/2015/07/guindaste-485x300.jpg" class="img-responsive img-rounded" alt="">
          <div class="caption">
            <h3 class="h6">TCC Eletrônica &#8211; Caminhão Guindaste</h3>
          </div>
        </a>
      </article>
      <article class="col-sm-6">
        <a href="#" class="thumbnail">
          <img src="http://etecaf.com.br/wp-content/uploads/2015/07/esteira-485x300.jpg" class="img-responsive img-rounded" alt="">
          <div class="caption">
            <h3 class="h6">TTCC Técnico em mecânica-Esteira transportadora</h3>
          </div>
        </a>
      </article>
    </div>
  </section>
</div>
</main>

<footer id="footer" class="cps-footer">
  <p class="text-center">This site is &copy; to CPS Front-end 2015</p>
</footer>



  <!-- CPS Front-end core JavaScript -->
  
  <script src="http://adammacias.github.io/cps-frontend/assets/js/main.min.js"></script>
  
  
</body>
</html>
