---
---
// ==========================================================================
// Básico
// ==========================================================================


#content {
  .caroussel {
    border-bottom: 1px solid #DDE4E7;
    padding-bottom: 25px;

    .caroussel-item-image{ img { margin-top:25px; } }
    .caroussel-item-caption{}
  }
}

.calendario {
  iframe {
    width:100%;
    min-height: 350px;
    border: 0;
    position:relative;
    z-index: 0;
  }
  &::after {
    content: "";
    display: block;
    float: right;
    height: 20px;
    width: 120px;
    background: #E5ECF9;
    margin-top: -30px;
    position:relative;
    z-index: 1;
  }
}

@media (max-width: 768px) {

  .carousel {
    .thumbnail {
      max-height: 300px!important;
      img {
        min-width: 100%!important;
        min-height: 300px!important;
      }
    }
  }

}
