---
layout: default
title: Identidade
permalink: /identidade/
sidebar: true
description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
---

<section id="section-download">
  <h1>Download</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h3>Assets</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
    <p><a href="" class="btn btn-lg btn-outline btn-block">Baixar todos os assets</a></p>
    <div class="row">
      <div class="col-sm-4">
        <h4>Centro Paula Souza e Governo do Estado de São Paulo</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p><a href="" class="btn btn-lg btn-outline">Baixar CPS e SP</a></p>
      </div>
      <div class="col-sm-4">
        <h4>Fatecs</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p><a href="" class="btn btn-lg btn-outline">Baixar Fatecs</a></p>
      </div>
      <div class="col-sm-4">
        <h4>Etecs</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p><a href="" class="btn btn-lg btn-outline">Baixar Etecs</a></p>
      </div>
    </div>
</section>


<style type="text/css">
.thumbnail {
    text-align: center;
}
.docs-logo {
    padding: 30px;
}

.docs-logo img {
    max-width: 300px;
}

.docs-logo figcaption {
    margin-top: 15px;
}
</style>
<section id="section-centropaulasouza">
    <h1>Centro Paula Souza</h1>
    <p class="lead">Autarquia do Governo do Estado de São Paulo vinculada à Secretaria de Desenvolvimento Econômico, Ciência e Tecnologia, é responsável pelas Faculdades de Tecnologia (Fatecs) e Escolas Técnicas (Etecs) estaduais.</p>
    <p>A seguir você encontra os aspectos relacionados à aplicação do logotipo da instituição na web. É importante seguir os procedimentos descritos, a fim de alcançarmos os objetivos propostos.</p>
    <p>Dentre eles, fazer do logotipo do Centro Paula Souza uma ferramenta de uso comum, decorrente de uma padronização visual consistente, agregando valores de modernidade, confiança e qualidade.</p>
    <h2>Logo</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <figure class="thumbnail docs-logo">
        <img src="{{ "assets/brand/logo-cps.png" | prepend: site.baseurl | prepend: site.url }}" class="logo-cps" width="300">
        <figcaption>Logo principal Centro Paula Souza.</figcaption>
    </figure>
    <h3>Elenco de cores</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="row">
        <div class="col-sm-4">
            <figure class="thumbnail docs-logo">
                <img src="{{ "assets/brand/logo-cps.png" | prepend: site.baseurl | prepend: site.url }}" class="logo-cps" width="300">
                <figcaption>Padrão.</figcaption>
            </figure>
        </div>
        <div class="col-sm-4">
            <figure class="thumbnail docs-logo" style="background:black">
                <img src="{{ "assets/brand/logo-cps-light.png" | prepend: site.baseurl | prepend: site.url }}" class="logo-cps" width="300">
                <figcaption>Light.</figcaption>
            </figure>
        </div>
        <div class="col-sm-4">
            <figure class="thumbnail docs-logo">
                <img src="{{ "assets/brand/logo-cps-dark.png" | prepend: site.baseurl | prepend: site.url }}" class="logo-cps" width="300">
                <figcaption>Escura.</figcaption>
            </figure>
        </div>
    </div>

    <h2>Cores</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>











    <h2>Em texto</h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> {% include branding/centropaulasouza.html %}</section>
<section id="section-fatec">{% include branding/fatec.html %}</section>
<section id="section-etec">{% include branding/etec.html %}</section>
