---
layout: default
title: Identidade
permalink: /identidade/
sidebar: true
description: "Manual de identidade visual da marca \"Centro Paula Souza\", \"Fatec\" e \"Etec\" para aplicação em projetos web."
---

<style type="text/css">

.docs-logo {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.docs-logo p {
  margin: 0;
}

.docs-logo .logo {
  zoom: 110%;
  -moz-transform: scale(1.1);
}





.docs-logo-img {
  padding: 30px;
}
.docs-logo-img img {
  max-width: 300px;
}
.docs-logo-img figcaption {
    margin-top: 15px;
}
.label-success {
  background: lime;
}
.label-danger {
  background: red;
}
.docs-palette {
  padding: 10px 15px 0;
  font-size: 12px;
}

</style>

<section id="section-download">{% include branding/download.html %}</section>
<section id="section-cps">{% include branding/cps.html %}</section>
<section id="section-fatecs">{% include branding/fatecs.html %}</section>
<section id="section-etecs">{% include branding/etecs.html %}</section>
