---
layout: default
title: Componentes
permalink: /componentes/
sidebar: true
description: "..."
---

<section id="section-icones">{% include components/icones.html %}</section>
<section id="section-dropdowns">{% include components/dropdowns.html %}</section>
<section id="section-botoes-dropdowns">{% include components/botoes-dropdowns.html %}</section>
<section id="section-navegacao">{% include components/navegacao.html %}</section>
<section id="section-barra-de-navegacao">{% include components/barra-de-navegacao.html %}</section>
<section id="section-breadcrumbs">{% include components/breadcrumbs.html %}</section>
<section id="section-paginacao">{% include components/paginacao.html %}</section>
<section id="section-jumbotron">{% include components/jumbotron.html %}</section>
<section id="section-cabecalho-pagina">{% include components/cabecalho-pagina.html %}</section>
<section id="section-miniaturas">{% include components/miniaturas.html %}</section>
<section id="section-alertas">{% include components/alertas.html %}</section>
<section id="section-lista-grupo">{% include components/lista-grupo.html %}</section>
<section id="section-paineis">{% include components/paineis.html %}</section>
<section id="section-responsive-embed">{% include components/responsive-embed.html %}</section>
<section id="section-wells">{% include components/wells.html %}</section>
