---
layout: default
title: Introdução
permalink: /introducao/
sidebar: true
description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
---

<section id="section-overview">{% include getting-started/overview.html %}</section>
<section id="section-install">{% include getting-started/install.html %}</section>
<section id="section-html5">{% include getting-started/html5.html %}</section>
<section id="section-metatags">{% include getting-started/metatags.html %}</section>
<section id="section-layout">{% include getting-started/layout.html %}</section>

<section id="section-xxx">
<h1 class="page-header">Template ponto de partida</h1>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
{% highlight html %}
  ...
{% endhighlight %}
</section>

<section id="section-accessibility">{% include getting-started/accessibility.html %}</section>
<section id="section-license">{% include getting-started/license.html %}</section>
