---
layout: default
title: Introdução
permalink: /introducao/
sidebar: true
description: "..."
---

<section id="section-objetivo">{% include introducao/objetivo.html %}</section>
<section id="section-download">{% include introducao/download.html %}</section>
<section id="section-como-usar">{% include introducao/como-usar.html %}</section>
<section id="section-acessibilidade">{% include introducao/acessibilidade.html %}</section>
<section id="section-licenca">{% include introducao/licenca.html %}</section>
