---
layout: default
title: JavaScript
permalink: /js/
sidebar: true
description: "..."
---

<section id="section-modal">{% include js/modal.html %}</section>
<section id="section-dropdowns">{% include js/dropdowns.html %}</section>
<section id="section-tabs">{% include js/tabs.html %}</section>
<section id="section-collapse">{% include js/collapse.html %}</section>
<section id="section-carousel">{% include js/carousel.html %}</section>
<section id="section-affix">{% include js/affix.html %}</section>
