//
// Avatars
//
//

.avatar {

  &.avatar-default,
  &.avatar-horizontal {
    // Default
    border: 0;
    @extend .media;

    .avatar-foto {
      @extend .media-left;
      img {
        @extend .media-object;
        @extend .img-rounded;
        margin-top: 3px;
        width: 35px;
        height: 35px;
      }
    }

    .avatar-details {
      @extend .media-body;
      @extend .text-muted;
      font-size: 12px;
      .fa {font-size: 14px;}
      p {
        margin: 0;
      }

      .avatar-name {
        @extend .media-heading;
        color: $gray-dark;
        font-size: 16px;
      }
    }

    // Large
    &.avatar-lg {
      .avatar-foto {
        img {
          margin-top: 3px;
          width: 120px;
          height: 120px;
        }
      }
      .avatar-details {
        @extend .text-muted;
        font-size: 14px;
        .avatar-name {
          font-size: 20px;
        }
      }
    }
  }
  &.avatar-vertical {
    border: 0;
    @extend .thumbnail;

    .avatar-foto {
      img {
        @extend .img-rounded;
        @extend .img-responsive;
        @extend .center-block;
        min-width: 100%;
      }
    }

    .avatar-details {
      @extend .caption;
      @extend .text-muted;
      font-size: 12px;
      .fa {font-size: 14px;}
      .avatar-name {
        @extend .media-heading;
        font-size: 16px;
      }
    }
  }
}









//
// navbar-secundary
//
//
.navbar {
    //max-width: 960px;
    margin: 0 auto;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #dde4e7;
    .nav a {
        font-size: 12px;
        //font-weight: bold;

    }
}

//
// Navbar
//
// Navbar main in #header, with affix effect
//
.cps-navbar {
    @extend .navbar;
    @extend .navbar-inverse;
    width: 100%;
    max-width: 1400px;
    @media (min-width: $screen-md-min) {
        .navbar-nav > li:first-child {
            margin-left: -15px !important;
        }
    }
    .navbar-brand {
        font-size: 16px;
        img, svg {
            height: 30px;
            margin-top: -3px;
        }
    }
    &.affix-top {
        .navbar-brand {
            img, svg {
                @include opacity(0);
                @include transition(all 0.1s linear);
                margin-left: -50px;
            }
        }
    }
    &.affix {
        position: fixed;
        z-index: $zindex-navbar;
        top: 0;
        .navbar-brand {
            img, svg {
                margin-left: 15px;
                @include opacity(1);
                @include transition(all 0.1s linear);
            }
        }
    }
    .dropdown-menu {
        .glyphicon {
            margin-right: 5px;
            font-size: 14px;
        }
    }
}

//
// Page Header in #header
//
.cps-page-header {
    @extend .page-header;
    @extend .text-center;
    padding: 30px 30px 140px;
    margin-top: 0;
    margin-bottom: -100px;
    color: set-color-based-background(white);
    a:link {
        font-weight: bold;
    }
    a.btn {
        font-weight: normal;
    }
    // Background image, testar
    &:before {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        opacity: 1;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        opacity: 0.25;
        @include grayscale;
        background-image: none;
    }
}

// Components
// ==========================================================================

//
// Modifier class for 21:9 aspect ratio
//
.embed-responsive-21by9 {
    padding-bottom: 42.19%;
}

//
// Modifier class for 1:1 aspect ratio
//
.embed-responsive-1by1 {
    padding-bottom: 100%;
}
