<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Template Padrão - CPS Front-end</title>

  <!-- CPS Front-end core CSS -->
  <link rel="stylesheet" href="http://adammacias.github.io/cps-frontend/assets/css/centropaulasouza.css">

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  
  <!-- CSS customizado -->
  <link rel="stylesheet" href="page.css">
  
</head>
<body>
  <a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container">
      <span class="skiplink-text">Pular para o conteúdo</span>
    </div>
  </a>

  <header class="cps-header palette-cinza-escuro-bg">
  <div class="container">
    <div class="logo-group">
      <div class="logo-group-item">
        <a class="logo logo-cps logo-light" href="http://www.cps.sp.gov.br" title="Portal do Centro Paula Souza" target="_blank">
          <h2 class="sr-only">Centro Paula Souza</h2>
        </a>
      </div>
      <div class="logo-group-item">
      </div>
      <div class="logo-group-item">
        <a class="logo logo-governo-sp logo-light" href="http://www.saopaulo.sp.gov.br" title="Portal do Governo do estado de São Paulo" target="_blank">
          <span class="sr-only">Governo do estado de São Paulo</span>
        </a>
      </div>
    </div>
  </div>
</header>

<nav class="cps-navbar" data-spy="affix" data-offset-top="140">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapsed" aria-expanded="false" aria-controls="navbar-collapsed">
      <span class="sr-only">Alterar navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand visible-xs" href="#">Fatec-RL</a>
    </div>
    <div id="navbar-collapsed" class="collapse navbar-collapse ">
      <ul class="nav navbar-nav">
        <li class="home"><a href="#">Início</a></li>
        <li><a href="#">CPS</a></li>
        <li><a href="#">Etec</a></li>
        <li><a href="#">Fatec</a></li>
        <li><a href="#">EaD</a></li>
        <li><a href="#">Ensino Básico</a></li>
        <li><a href="#">Pós-Graduação</a></li>
        <li><a href="#">Notícias</a></li>
        <li><a href="#">Contato</a></li>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Mais <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Avaliação</a></li>
            <li><a href="#">Publicações</a></li>
            <li><a href="#">Capacitações</a></li>
            <li><a href="#">Licitações</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Área exclusiva &nbsp;<i class="fa fa-user fa-fw" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li role="presentation" class="dropdown-header">Acesso restrito</li>
            <li><a href="#"><i class="fa fa-lock fa-fw" aria-hidden="true"></i>&nbsp; SIGA</a></li>
            <li><a href="#"><i class="fa fa-lock fa-fw" aria-hidden="true"></i>&nbsp; E-mail Etec</a></li>
            <li><a href="#"><i class="fa fa-lock fa-fw" aria-hidden="true"></i>&nbsp; E-mail Fatec</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="cps-main">
  <div class="row">
    <div id="content" class="col-md-9" tabindex="-1">
      <section class="caroussel">
        <article class="row">
          <div class="col-md-6 caroussel-item-image">
            <img src="http://www.centropaulasouza.sp.gov.br/imagens/fotos-home/2015/outubro/20151007.jpg" class="img-responsive img-rounded" alt="">
          </div>
          <div class="col-md-6 caroussel-item-caption">
            <a href="#">
              <h3>Fatecs abrem inscrição para o Vestibular 2016</h3>
              <p class="small">Candidatos têm até as 15 horas do dia 11 de novembro para se inscrever pela internet. São oferecidas 15.565 vagas para 72 cursos de graduação tecnológica, 2 mil das quais para a modalidade a distância. O exame será realizado no dia 6 de dezembro...</p>
            </a>
          </div>
        </article>
      </section>
      <div class="row">
        <section class="col-md-6">
          <article>
            <h2 class="h3"><i class="fa fa-calendar-check-o"></i> Agenda</h2>
            <p class="calendario"><iframe src="http://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=350&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=centropaulasouzasp%40gmail.com&amp;color=%23000000&amp;ctz=America%2FSao_Paulo&amp;hl=pt-BR"></iframe></p>
          </article>
          <hr>
          <article>
            <div class="list-group small">
              <a href="#" class="list-group-item text-center" style="background: #DDE4E7;">
                <span class="logo logo-etec">
                  <span class="sr-only">Etec</span>
                  <p>Escola Técnica Estadual</p>
                </span>
              </a>
              <a href="#" class="list-group-item">Vestibulinho</a>
              <a href="#" class="list-group-item">Escolas</a>
              <a href="#" class="list-group-item">Cursos</a>
            </div>
          </article>
          <hr>
          <article>
            <div class="list-group small">
              <a href="#" class="list-group-item text-center" style="background: #DDE4E7;">
                <span class="logo logo-fatec">
                  <span class="sr-only">Fatec</span>
                  <p>Faculdade de Tecnologia</p>
                </span>
              </a>
              <a href="#" class="list-group-item">Vestibular</a>
              <a href="#" class="list-group-item">Faculdade</a>
              <a href="#" class="list-group-item">Cursos</a>
            </div>
          </article>
          <hr>
          <article>
            <div class="list-group small">
              <a href="#" class="list-group-item">
                <img src="https://cloud.githubusercontent.com/assets/1139893/10384547/2edaf75a-6e13-11e5-8d17-ffeb849b01f0.png" class="img-responsive img-rounded center-block" alt="">
              </a>
              <a href="#" class="list-group-item">Portal Feteps</a>
              <a href="#" class="list-group-item">Calendário</a>
              <a href="#" class="list-group-item">Regulamento</a>
            </div>
          </article>
          <hr>
          <article>
            <div class="list-group small">
              <a href="#" class="list-group-item">
                <img src="https://cloud.githubusercontent.com/assets/1139893/10384546/2ed8a2de-6e13-11e5-9334-0cf8ff5ac6a6.jpg" class="img-responsive img-rounded center-block" alt="">
              </a>
              <a href="#" class="list-group-item">Portal WebSAI</a>
            </div>
          </article>
        </section>
        <section class="col-md-6">
          <h2 class="h3"><i class="fa fa-bullhorn"></i> Notícias</h2>
          
            <article>
              <a href="#" class="thumbnail">
                <img src="http://www.centropaulasouza.sp.gov.br/imagens/home/noticias/2015/outubro/20151008.jpg" class="img-responsive img-rounded" alt="">
                <div class="caption">
                  <h3 class="h6">Centro Paula Souza forma primeira turma de mestres em Gestão e Tecnologia em Sistemas Produtivos</h3>
                  <p class="text-muted">09/09/2015</p>
                  <p class="small">Titulação credencia 19 alunos a aplicarem cultura de pesquisa e inovação em sua atividade profissional, além de dar aulas em cursos de tecnologia...</p>
                </div>
              </a>
            </article>
          
            <article>
              <a href="#" class="thumbnail">
                <img src="http://www.centropaulasouza.sp.gov.br/imagens/home/noticias/2015/outubro/20151006a.jpg" class="img-responsive img-rounded" alt="">
                <div class="caption">
                  <h3 class="h6">Centro Paula Souza comemora 46 anos</h3>
                  <p class="text-muted">09/09/2015</p>
                  <p class="small">Instituição referência em ensino profissional investe em parcerias, inovação e empreendedorismo...</p>
                </div>
              </a>
            </article>
          
            <article>
              <a href="#" class="thumbnail">
                
                <div class="caption">
                  <h3 class="h6">Fatecs divulgam resultado de isenção e redução da taxa do Vestibular</h3>
                  <p class="text-muted">09/09/2015</p>
                  <p class="small">Além das seis mil isenções ofertadas, as Fatecs concederam redução de 50% na taxa de inscrição, aos candidatos que atenderam aos requisitos determinados...</p>
                </div>
              </a>
            </article>
          
            <article>
              <a href="#" class="thumbnail">
                
                <div class="caption">
                  <h3 class="h6">Estão abertas as inscrições para o Vestibulinho das Etecs</h3>
                  <p class="text-muted">09/09/2015</p>
                  <p class="small">Entre as novidades deste processo seletivo estão os cursos de Cozinha e Logística na modalidade Educação de Jovens e Adultos (EJA)...</p>
                </div>
              </a>
            </article>
          
            <article>
              <a href="#" class="thumbnail">
                
                <div class="caption">
                  <h3 class="h6">Governo cria programa para que startups contribuam com desafios do poder público</h3>
                  <p class="text-muted">09/09/2015</p>
                  <p class="small">O Governo do Estado de São Paulo está convidando startups para encontrar soluções para desafios do poder público... </p>
                </div>
              </a>
            </article>
          
            <article>
              <a href="#" class="thumbnail">
                
                <div class="caption">
                  <h3 class="h6">Centro Paula Souza estuda parceria com SAE Brasil na área de mobilidade</h3>
                  <p class="text-muted">09/09/2015</p>
                  <p class="small">O Centro Paula Souza assinou um acordo que prevê a elaboração de um programa conjunto de qualificação com a Sociedade de Engenheiros da Mobilidade – SAE Brasil...</p>
                </div>
              </a>
            </article>
          
          <p class="text-center"><a href="#" class="btn btn-default btn-block">Ver mais notícias</a></p>
        </section>
      </div>
    </div>
    <aside class="col-md-3">
      <br>
      <div class="widget">
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button">Buscar</button>
        </span>
      </div>
      </div>
      <hr>
      <div class="widget">
        <h4>Siga-nos</h4>
        <div class="list-group">
          <a href="#" class="list-group-item"><i class="fa fa-twitter fa-fw"></i>&nbsp; Twitter</a>
          <a href="#" class="list-group-item"><i class="fa fa-facebook-official fa-fw"></i>&nbsp; Facebook</a>
          <a href="#" class="list-group-item"><i class="fa fa-youtube fa-fw"></i>&nbsp; Youtube</a>
          <a href="#" class="list-group-item"><i class="fa fa-tumblr fa-fw"></i>&nbsp; Tumblr</a>
          <a href="#" class="list-group-item"><i class="fa fa-google-plus fa-fw"></i>&nbsp; Google+</a>
          <a href="#" class="list-group-item"><i class="fa fa-whatsapp fa-fw"></i>&nbsp; WhatsApp</a>
          <a href="#" class="list-group-item"><i class="fa fa-instagram fa-fw"></i>&nbsp; Instagram</a>
          <a href="#" class="list-group-item"><i class="fa fa-linkedin fa-fw"></i>&nbsp; LinkedIn</a>
          <a href="#" class="list-group-item"><i class="fa fa-flickr fa-fw"></i>&nbsp; Flickr</a>
        </div>
      </div>
      <hr>
      <div class="widget">
        <h4>Destaques</h4>
        <div class="list-group">
          <a href="#" class="list-group-item">Concursos públicos</a>
          <a href="#" class="list-group-item">Intercâmbio cultural</a>
          <a href="#" class="list-group-item">Pós graduação</a>
          <a href="#" class="list-group-item">Educação a distância</a>
          <a href="#" class="list-group-item">Identidade visual</a>
          <a href="#" class="list-group-item">Visitas monitoradas</a>
          <a href="#" class="list-group-item">Fale conosco</a>
        </div>
      </div>
      <hr>
      <div class="widget">
        <h4>Publicações</h4>
        <article>
          <div class="list-group small">
              <a href="#" class="list-group-item">
                <img src="https://cloud.githubusercontent.com/assets/1139893/10506931/29ac4e52-72f3-11e5-8b45-532d181d134c.jpg" class="img-responsive img-rounded center-block" alt="">
              </a>
              <a href="#" class="list-group-item">Revista CPS</a>
              <a href="#" class="list-group-item">Guia da Internet</a>
              <a href="#" class="list-group-item">Jornal Mural</a>
              <a href="#" class="list-group-item">Perfis de Cursos das Etecs e Fatecs</a>
              <a href="#" class="list-group-item">Observatório Escolar</a>
              <a href="#" class="list-group-item">Cartilha Inova</a>
            </div>
        </article>
      </div>
      <hr>
      <div class="widget">
        <article>
          <div class="list-group small">
              <a href="#" class="list-group-item">
                <img src="https://cloud.githubusercontent.com/assets/1139893/10506765/ab80180c-72f1-11e5-9031-8e994f3c064c.png" class="img-responsive img-rounded center-block" alt="">
              </a>
              <a href="#" class="list-group-item">Portal INOVA</a>
            </div>
        </article>
      </div>
      <div class="widget">
        <article>
          <div class="list-group small">
              <a href="#" class="list-group-item">
                <img src="https://cloud.githubusercontent.com/assets/1139893/10506733/45296252-72f1-11e5-8f1d-11d113eebff5.png" class="img-responsive img-rounded center-block" alt="">
              </a>
              <a href="#" class="list-group-item">Site Pitch Gov SP</a>
            </div>
        </article>
      </div>
    </aside>
  </div>
</main>

<footer id="footer" class="cps-footer">
  <p class="text-center">This site is &copy; to CPS Front-end 2015</p>
</footer>



  <!-- CPS Front-end core JavaScript -->
  
  <script src="http://adammacias.github.io/cps-frontend/assets/js/main.min.js"></script>
  
  
</body>
</html>
