<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title | strip_html | strip_newlines }}{% else %}{{ site.title | strip_html | strip_newlines }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<link rel="canonical" href="{{ page.url | replace:'/index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="author" href="https://plus.google.com/{{ site.author.gplus }}" title="{{ site.author.name }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

<!-- Stylesheet -->
<link rel="stylesheet" href="{{ "assets/css/docs.css" | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Favicons -->
<link rel="apple-touch-icon" href="{{ "assets/img/apple-touch-icon.png" | prepend: site.baseurl | prepend: site.url }}">
<link rel="icon" href="{{ "assets/img/favicon.ico" | prepend: site.baseurl | prepend: site.url }}">

<!-- Open Graph Tags -->
<meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{% if page.url %}{{ page.url | replace:'/index.html','' }}{% endif %}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:image" content="{{ "assets/img/open-graph.png" | prepend: site.baseurl | prepend: site.url }}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ site.author.twitter }}" />
<meta name="twitter:creator" content="@{{ site.author.twitter }}" />

<!-- Pinned site Windows -->
<meta name="application-name" content="{{ site.title }}" />
<meta name="msapplication-TileImage" content="{{ "assets/img/windows-tile.png" | prepend: site.baseurl | prepend: site.url }}">
<meta name="msapplication-TileColor" content="#ffffff">
