        <li><a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}getting-started/introduction/">Ponto de Partida</a></li>
        <li><a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}content/introduction/">Estilos</a></li>
        <li class="dropdown ">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Componentes
        </a>
    <ul class="dropdown-menu">
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/grid">
                Sistema de grids
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/responsive-utilities">
                Utilitários Responsivo
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/media-object">
                Media object
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/icons">
                Ícones
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/buttons">
                Botões
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/button-dropdown">
                Botões Dropdowns
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/forms">
                Formulários
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/dropdowns">
                Dropdowns
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/label">
                Etiquetas
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/alerts">
                Alertas
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/card">
                Cards
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/navs">
                Navegações
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/navbar">
                Barra de navegação
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/pagination">
                Paginação
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/list-group">
                Grupos de listas
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/modal">
                Modal
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/collapse">
                Sanfona
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/tabs">
                Abas
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/carousel">
                Carrossel
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/utilities">
                Utilitários
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/lightbox">
                Lightbox
              </a>
        </li>
        <li class="">
            <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}components/avatars">
                Avatares
              </a>
        </li>
    </ul>
</li>
<li><a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}branding/overview/">Identidade</a></li>
<li><a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}templates/">Templates</a></li>
<li><a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}about/history/">Sobre</a></li>
