{% if page.group == "getting-started" %}
  <h1>Ponto de partida</h1>
  <p class="lead">
    Introdução ao {{ site.title }}, como baixar e usa-lo, exemplo básico e boas práticas de desenvolvimento.
  </p>
{% elsif page.group == "branding" %}
  <h1>Identidade</h1>
  <p class="lead">
    Manual de identidade visual da marca "Centro Paula Souza", "Fatec" e "Etec" para aplicação em projetos web.
  </p>
{% elsif page.group == "layout" %}
  <h1>Layout</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
{% elsif page.group == "components" %}
  <h1>Componentes</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
{% elsif page.group == "about" %}
  <h1>Sobre</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
{% elsif page.group == "content" %}
  <h1>Estilos</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
{% endif %}
