{% if page.group == "getting-started" %}
  <h1>Ponto de partida</h1>
  <p class="lead">
    Introdução ao {{ site.title }}, como baixar e usa-lo, template base e boas práticas de desenvolvimento.
  </p>
{% elsif page.group == "branding" %}
  <h1>Identidade</h1>
  <p class="lead">
    Manual de identidade visual do {{ site.title }}, download e utilização dos logotipos de "Fatecs", "Etecs" e "Centro Paula Souza" em páginas web.
  </p>
{% elsif page.group == "layout" %}
  <h1>Layout</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
{% elsif page.group == "components" %}
  <h1>Componentes</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
{% elsif page.group == "about" %}
  <h1>Sobre</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
{% elsif page.group == "content" %}
  <h1>Estilos</h1>
  <p class="lead">
    Conteúdo estilizados em alguns dos elementos HTML mais usados normalmente, como: tipografia, imagens, tabelas, e muito mais.
  </p>
{% endif %}
