<h1 class="page-header">Acessibilidade</h1>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
<h2>Pulo de navegação</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
{% highlight html %}

<body>
    <a href="#content" class="sr-only sr-only-focusable">Pular para conteúdo principal</a> ...
    <div class="container" id="content" tabindex="-1">
        <!-- Conteúdo principal da sua página -->
    </div>
</body>
{% endhighlight %}
