<h1 class="page-header">Metatags</h1>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
<h2>Viewport</h2>
<p>Para garantir a renderização adequada e sensíbilidade ao toque, adicione a meta tag viewport dentro do <code>&lt;head&gt;</code>.</p>
{% highlight html %}
<meta name="viewport" content="width=device-width, initial-scale=1"> {% endhighlight %}
<h2>Open Graph</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
{% highlight html %} ... {% endhighlight %}
<h2>Recursos adicionais</h2>
<ul>
    <li><a href="http://tableless.com.br/metatags/">Metatags – Breve introdução de uso e teoria</a></li>
</ul>
