<h1 class="docs-h1">Equipe</h1>
<div class="row docs-list-team">
  <div class="col-md-4">
    <div class="profile profile-inline">
      <div class="control-photo">
        <img class="" src="https://avatars3.githubusercontent.com/u/1139893" alt="" width="75">
      </div>
      <div class="control-name">
        <h4>Adam Requena Macias</h4>
      </div>
      <div class="control-description">
        <p>@adammacias</p>
        <p><iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=adammacias&amp;type=follow"></iframe></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="profile profile-inline">
      <div class="control-photo">
        <img class="" src="https://avatars0.githubusercontent.com/u/4764189" alt="" width="75">
      </div>
      <div class="control-name">
        <h4>Flávia Carolina de Souza</h4>
      </div>
      <div class="control-description">
        <p>@flaviacs</p>
        <p><iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=flaviacs&amp;type=follow"></iframe></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="profile profile-inline">
      <div class="control-photo">
        <img class="" src="https://avatars1.githubusercontent.com/u/11800538" alt="" width="75">
      </div>
      <div class="control-name">
        <h4>Ramon Duran</h4>
      </div>
      <div class="control-description">
        <p>@ramonduran</p>
        <p><iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=ramonduran&amp;type=follow"></iframe></p>
      </div>
    </div>
  </div>
</div>
