---
layout: template
title: Template Blog
description: "..."
css: blog.css
news:
  - title: "Título de exemplo da notícia"
    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."
    image: "http://placehold.it/300x300"
  - title: "Título de exemplo da notícia"
    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."
    image: "http://placehold.it/300x300"
  - title: "Título de exemplo da notícia"
    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."
    image: "http://placehold.it/300x300"
  - title: "Título de exemplo da notícia"
    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."
    image: "http://placehold.it/300x300"
  - title: "Título de exemplo da notícia"
    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."
    image: null
  - title: "Título de exemplo da notícia"
    description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."
    image: null
---

{% include templates/header.html %}

<header class="cps-page-header">
  <h1>Template Blog</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</header>
<main class="cps-main">
  <div class="row">
    <aside id="sidebar" class="col-md-3">
      <div class="widget">
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Buscar</button>
          </span>
        </div>
      </div>
      <hr>
      <div class="widget">
        <h4>Filtrar</h4>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Categoria um</a></li>
          <li><a href="#">Categoria dois</a></li>
          <li><a href="#">Categoria tres</a></li>
          <li><a href="#">Todas</a></li>
        </ul>
      </div>
      <hr>
      <div class="widget">
        <h4>Publicações</h4>
        <div class="list-group">
          <a href="#" class="list-group-item">Revista</a>
          <a href="#" class="list-group-item">Jornal</a>
          <a href="#" class="list-group-item">Boletins</a>
          <a href="#" class="list-group-item">Guia da Internet</a>
        </div>
      </div>
    </aside>
    <div id="content" class="col-md-9" tabindex="-1">
      <h2>Recentes</h2>
      <hr>
      <!-- lista de noticias -->
      {% for new in page.news %}
        <article class="post">
          <a href="#" class="media">
            {% if new.image %}
              <div class="media-left">
                <img src="{{ new.image }}" class="media-object img-rounded" alt="" width="150">
              </div>
            {% endif %}
            <div class="media-body">
              <h3 class="media-heading">{{ new.title }}</h3>
              <h6>09/09/2015</h6>
              <p class="text-muted">{{ new.description }}</p>
            </div>
          </a>
        </article>
      {% endfor %}
      <!-- paginacao -->
      <nav>
        <ul class="pager">
          <li class="disabled"><a href="#"><span aria-hidden="true">&larr;</span>Anterior</a></li>
          <li><a href="#">Próxima <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</main>

{% include templates/footer.html %}
