<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Alertas</title>
  <meta name="description" content="Manual e framework front-end para projetos web do Centro Paula Souza.">
  <link rel="canonical" href="https://adammaciasssss.github.io/cps-frontend//components/alerts/">
  <link rel="author" href="https://plus.google.com/" title="">
  <link rel="alternate" type="application/rss+xml" title="CPS Front-end" href="https://adammaciasssss.github.io/cps-frontend/feed.xml" />

  <!-- Stylesheet -->
  <link rel="stylesheet" href="https://adammaciasssss.github.io/cps-frontend/assets/css/docs.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="https://adammaciasssss.github.io/cps-frontend/assets/img/apple-touch-icon.png">
  <link rel="icon" href="https://adammaciasssss.github.io/cps-frontend/assets/img/favicon.ico">

  <!-- Open Graph Tags -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="Alertas">
  <meta property="og:description" content="Manual e framework front-end para projetos web do Centro Paula Souza.">
  <meta property="og:url" content="https://adammaciasssss.github.io/components/alerts/">
  <meta property="og:site_name" content="CPS Front-end">
  <meta property="og:image" content="https://adammaciasssss.github.io/cps-frontend/assets/img/open-graph.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@" />
  <meta name="twitter:creator" content="@" />

  <!-- Pinned site Windows -->
  <meta name="application-name" content="CPS Front-end" />
  <meta name="msapplication-TileImage" content="https://adammaciasssss.github.io/cps-frontend/assets/img/windows-tile.png">
  <meta name="msapplication-TileColor" content="#ffffff">

</head>

<body>
  <a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container"><span class="skiplink-text">Pular para conteúdo</span></div>
  </a>

  <header id="top" class="navbar navbar-default" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Alterar navegação</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://adammaciasssss.github.io/cps-frontend/">CPS Front-end</a>
      </div>
      <nav id="navbar" class="collapse navbar-collapse" role="navigation">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://adammaciasssss.github.io/cps-frontend/getting-started/introduction/">Ponto de Partida</a></li>
          <li><a href="https://adammaciasssss.github.io/cps-frontend/content/introduction/">Estilos</a></li>
          <li class="dropdown ">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Componentes
            </a>
            <ul class="dropdown-menu">
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/grid">
                  Sistema de grids
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/responsive-utilities">
                  Utilitários Responsivo
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/media-object">
                  Media object
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/icons">
                  Ícones
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/buttons">
                  Botões
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/button-dropdown">
                  Botões Dropdowns
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/forms">
                  Formulários
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/dropdowns">
                  Dropdowns
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/label">
                  Etiquetas
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/alerts">
                  Alertas
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/card">
                  Cards
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/navs">
                  Navegações
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/navbar">
                  Barra de navegação
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/pagination">
                  Paginação
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/list-group">
                  Grupos de listas
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/modal">
                  Modal
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/collapse">
                  Sanfona
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/tabs">
                  Abas
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/carousel">
                  Carrossel
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/utilities">
                  Utilitários
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/lightbox">
                  Lightbox
                </a>
              </li>
              <li class="">
                <a href="https://adammaciasssss.github.io/cps-frontend/components/avatars">
                  Avatares
                </a>
              </li>
            </ul>
          </li>
          <li><a href="https://adammaciasssss.github.io/cps-frontend/branding/overview/">Identidade</a></li>
          <li><a href="https://adammaciasssss.github.io/cps-frontend/templates/">Templates</a></li>
          <li><a href="https://adammaciasssss.github.io/cps-frontend/about/history/">Sobre</a></li>



        </ul>
      </nav>
    </div>
  </header>


  <header id="page-header">
    <div class="container">

      <h1>Componentes</h1>
      <p class="lead">
        Dezenas de componentes reutilizáveis criados para fornecer ícones, botões, paginação e muito mais.
      </p>


    </div>
  </header>

  <div id="wrapper" class="container">
    <div class="row">


      <aside class="col-md-2" role="complementary" role="navigation">
        <br>
        <span class="sr-only">Índice</span>






        <ul class="nav nav-pills nav-stacked">






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/grid">Sistema de grids</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/responsive-utilities">Utilitários
              Responsivo</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/media-object">Media object</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/icons">Ícones</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/buttons">Botões</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/button-dropdown">Botões Dropdowns</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/forms">Formulários</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/dropdowns">Dropdowns</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/label">Etiquetas</a>
          </li>








          <li class="active bd-sidenav-active">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/alerts">Alertas</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/card">Cards</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/navs">Navegações</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/navbar">Barra de navegação</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/pagination">Paginação</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/list-group">Grupos de listas</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/modal">Modal</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/collapse">Sanfona</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/tabs">Abas</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/carousel">Carrossel</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/utilities">Utilitários</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/lightbox">Lightbox</a>
          </li>






          <li class="">
            <a href="https://adammaciasssss.github.io/cps-frontend//components/avatars">Avatares</a>
          </li>

        </ul>








      </aside>


      <main id="content" class="col-md-9 col-md-offset-1" role="main" tabindex="-1">
        <div class="entry-content">
          <h1>Alertas</h1>
          <p>Provide contextual feedback messages for typical user actions with the handful of available and flexible
            alert messages.</p>

          <h2 id="contedo">Conteúdo</h2>

          <ul id="markdown-toc">
            <li><a href="#contedo" id="markdown-toc-contedo">Conteúdo</a></li>
            <li><a href="#examples" id="markdown-toc-examples">Examples</a>
              <ul>
                <li><a href="#no-default-class" id="markdown-toc-no-default-class">No default class</a></li>
              </ul>
            </li>
            <li><a href="#dismissible-alerts" id="markdown-toc-dismissible-alerts">Dismissible alerts</a>
              <ul>
                <li><a href="#requires-javascript-alert-plugin" id="markdown-toc-requires-javascript-alert-plugin">Requires
                    JavaScript alert plugin</a></li>
              </ul>
            </li>
            <li><a href="#links-in-alerts" id="markdown-toc-links-in-alerts">Links in alerts</a></li>
          </ul>

          <h2 id="examples">Examples</h2>

          <p class="lead">Provide contextual feedback messages for typical user actions with the handful of available
            and flexible alert messages.</p>

          <p>Wrap any text and an optional dismiss button in <code>.alert</code> and one of the four contextual classes
            (e.g., <code>.alert-success</code>) for basic alert messages.</p>

          <h4 id="no-default-class">No default class</h4>

          <p>Alerts don’t have default classes, only base and modifier classes. A default gray alert doesn’t make too
            much sense, so you’re required to specify a type via contextual class. Choose from success, info, warning,
            or danger.</p>

          <div class="bd-example" data-example-id="">
            <div class="alert alert-success" role="alert">
              <strong>Muito bom!</strong> Alerta usado para mensagens de sucesso.
            </div>
            <div class="alert alert-info" role="alert">
              <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
            </div>
            <div class="alert alert-warning" role="alert">
              <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
            <div class="alert alert-danger" role="alert">
              <strong>Oh snap!</strong> Change a few things up and try submitting again.
            </div>
          </div>
          <div class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-success"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;strong&gt;</span>Muito bom!<span class="nt">&lt;/strong&gt;</span> Alerta usado para mensagens de sucesso.
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-info"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;strong&gt;</span>Heads up!<span class="nt">&lt;/strong&gt;</span> This alert needs your attention, but it's not super important.
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-warning"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;strong&gt;</span>Warning!<span class="nt">&lt;/strong&gt;</span> Better check yourself, you're not looking too good.
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-danger"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;strong&gt;</span>Oh snap!<span class="nt">&lt;/strong&gt;</span> Change a few things up and try submitting again.
  <span class="nt">&lt;/div&gt;</span></code></pre>
          </div>

          <h2 id="dismissible-alerts">Dismissible alerts</h2>

          <p>Build on any alert by adding an optional <code>.alert-dismissible</code> and close button.</p>

          <h4 id="requires-javascript-alert-plugin">Requires JavaScript alert plugin</h4>

          <p>For fully functioning, dismissible alerts, you must use the <a href="../javascript/#alerts">alerts
              JavaScript plugin</a>.</p>

          <div class="bd-example" data-example-id="">
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Warning!</strong> Better check yourself, you're not looking too good.
            </div>
          </div>
          <div class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-warning alert-dismissible"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">class=</span><span class="s">"close"</span> <span class="na">data-dismiss=</span><span class="s">"alert"</span> <span class="na">aria-label=</span><span class="s">"Close"</span><span class="nt">&gt;&lt;span</span> <span class="na">aria-hidden=</span><span class="s">"true"</span><span class="nt">&gt;</span><span class="ni">&amp;times;</span><span class="nt">&lt;/span&gt;&lt;/button&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Warning!<span class="nt">&lt;/strong&gt;</span> Better check yourself, you're not looking too good.
<span class="nt">&lt;/div&gt;</span></code></pre>
          </div>

          <div class="bs-callout bs-callout-warning" id="callout-alerts-dismiss-use-button">
            <h4>Ensure proper behavior across all devices</h4>
            <p>Be sure to use the <code>&lt;button&gt;</code> element with the <code>data-dismiss="alert"</code> data
              attribute.</p>
          </div>

          <h2 id="links-in-alerts">Links in alerts</h2>

          <p>Use the <code>.alert-link</code> utility class to quickly provide matching colored links within any alert.</p>

          <div class="bd-example" data-example-id="">
            <div class="alert alert-success" role="alert">
              <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert
                message</a>.
            </div>
            <div class="alert alert-info" role="alert">
              <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's
              not super important.
            </div>
            <div class="alert alert-warning" role="alert">
              <strong>Warning!</strong> Better check yourself, you're <a href="#" class="alert-link">not looking too
                good</a>.
            </div>
            <div class="alert alert-danger" role="alert">
              <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting
              again.
            </div>
          </div>
          <div class="highlight">
            <pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-success"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Well done!<span class="nt">&lt;/strong&gt;</span> You successfully read <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"alert-link"</span><span class="nt">&gt;</span>this important alert message<span class="nt">&lt;/a&gt;</span>.
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-info"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Heads up!<span class="nt">&lt;/strong&gt;</span> This <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"alert-link"</span><span class="nt">&gt;</span>alert needs your attention<span class="nt">&lt;/a&gt;</span>, but it's not super important.
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-warning"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Warning!<span class="nt">&lt;/strong&gt;</span> Better check yourself, you're <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"alert-link"</span><span class="nt">&gt;</span>not looking too good<span class="nt">&lt;/a&gt;</span>.
<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"alert alert-danger"</span> <span class="na">role=</span><span class="s">"alert"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;strong&gt;</span>Oh snap!<span class="nt">&lt;/strong&gt;</span> <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"#"</span> <span class="na">class=</span><span class="s">"alert-link"</span><span class="nt">&gt;</span>Change a few things up<span class="nt">&lt;/a&gt;</span> and try submitting again.
<span class="nt">&lt;/div&gt;</span></code></pre>
          </div>


        </div>
      </main>

    </div>
  </div><!-- /#wrapper  -->

  <footer id="footer">
    <p class="text-center h5"><i class="fa fa-code"></i> criado <i class="fa fa-heart palette-red-color"></i> na Fatec
      Baixada Santista - Rubens Lara.</p>
    <p class="text-center h6">Por <a href="#">Equipe CPS Front-end</a>.</p>

    <!--<p class="text-center">This site is &copy; to CPS Front-end 2015</p>-->
  </footer>



  <!-- Scripts -->

  <script src="https://adammaciasssss.github.io/cps-frontend/assets/js/main.min.js"></script>



</body>

</html>