<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Templates</title>
<meta name="description" content="Manual e framework front-end para projetos web do Centro Paula Souza.">
<link rel="canonical" href="http://adammacias.github.io/cps-frontend//templates/">
<link rel="author" href="https://plus.google.com/" title="">
<link rel="alternate" type="application/rss+xml" title="CPS Front-end" href="http://adammacias.github.io/cps-frontend/feed.xml" />

<!-- Stylesheet -->
<link rel="stylesheet" href="http://adammacias.github.io/cps-frontend/assets/css/docs.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Favicons -->
<link rel="apple-touch-icon" href="http://adammacias.github.io/cps-frontend/assets/img/apple-touch-icon.png">
<link rel="icon" href="http://adammacias.github.io/cps-frontend/assets/img/favicon.ico">

<!-- Open Graph Tags -->
<meta property="og:type" content="article">
<meta property="og:title" content="Templates">
<meta property="og:description" content="Manual e framework front-end para projetos web do Centro Paula Souza.">
<meta property="og:url" content="http://adammacias.github.io/templates/">
<meta property="og:site_name" content="CPS Front-end">
<meta property="og:image" content="http://adammacias.github.io/cps-frontend/assets/img/open-graph.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@" />
<meta name="twitter:creator" content="@" />

<!-- Pinned site Windows -->
<meta name="application-name" content="CPS Front-end" />
<meta name="msapplication-TileImage" content="http://adammacias.github.io/cps-frontend/assets/img/windows-tile.png">
<meta name="msapplication-TileColor" content="#ffffff">

  </head>
  <body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#content"><div class="container"><span class="skiplink-text">Pular para conteúdo</span></div></a>

    <header id="top" class="navbar navbar-default" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Alterar navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://adammacias.github.io/cps-frontend/">CPS Front-end</a>
    </div>
    <nav id="navbar" class="collapse navbar-collapse" role="navigation">
      
      <ul class="nav navbar-nav navbar-right">
                <li><a href="http://adammacias.github.io/cps-frontend/getting-started/introduction/">Ponto de Partida</a></li>
        <li><a href="http://adammacias.github.io/cps-frontend/content/introduction/">Estilos</a></li>
        <li class="dropdown ">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          Componentes
        </a>
    <ul class="dropdown-menu">
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/grid">
                Sistema de grids
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/responsive-utilities">
                Utilitários Responsivo
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/media-object">
                Media object
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/icons">
                Ícones
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/buttons">
                Botões
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/button-dropdown">
                Botões Dropdowns
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/forms">
                Formulários
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/dropdowns">
                Dropdowns
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/label">
                Etiquetas
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/alerts">
                Alertas
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/card">
                Cards
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/navs">
                Navegações
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/navbar">
                Barra de navegação
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/pagination">
                Paginação
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/list-group">
                Grupos de listas
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/modal">
                Modal
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/collapse">
                Sanfona
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/tabs">
                Abas
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/carousel">
                Carrossel
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/utilities">
                Utilitários
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/lightbox">
                Lightbox
              </a>
        </li>
        <li class="">
            <a href="http://adammacias.github.io/cps-frontend/components/avatars">
                Avatares
              </a>
        </li>
    </ul>
</li>
<li><a href="http://adammacias.github.io/cps-frontend/branding/overview/">Identidade</a></li>
<li><a href="http://adammacias.github.io/cps-frontend/templates/">Templates</a></li>
<li><a href="http://adammacias.github.io/cps-frontend/about/history/">Sobre</a></li>

         

      </ul>
    </nav>
  </div>
</header>


    <header id="page-header">
      <div class="container">
        
  <h1>Templates</h1>
  <p class="lead">
    Modelos prontos para agilizar o desenvolvimento de novas páginas.
  </p>


      </div>
    </header>

    <div id="wrapper" class="container">
      <div class="row">

        

        <main id="content" class="col-md-12" role="main"  tabindex="-1">
          <div class="entry-content">
            <h1>Templates</h1>
            <p class="lead">Templates são modelos prontos para serem utilizados ou customizados, é possível aproveita-los para agilizar o desenvolvimento de novas páginas do projeto.</p>

<p>Utilizamos nos modelos a <strong>Fatec Baixada Santista - Rubens Lara</strong> para exemplificar a unidade, mas certamente você pode querer conhecer nossa <a href="http://adammacias.github.io/cps-frontend/branding/overview/">página de identidade</a>, onde demostramos como utilizar a marca da sua unidade de forma simples e padronizada.</p>

<p><a href="https://github.com/adammacias/cps-frontend/releases/download/v1.0.0-alpha/cps-v1.0.0-alpha.zip">Veja o código fonte</a> de qualquer template.</p>

<h2 id="base">Base</h2>

<p>A partir dos templates base é perfeitamente possível criar qualquer <a href="http://adammacias.github.io/cps-frontend/templates/#paginas">página</a>.</p>

<div class="row">
  <article class="col-xs-6 col-md-4">
    <a href="http://adammacias.github.io/cps-frontend/templates/page">
      <img class="img-thumbnail img-responsive" src="http://adammacias.github.io/cps-frontend/templates/page/screenshot.png" alt="" />
    </a>
    <h3 class="h5">Template básico (Padrão)</h3>
    <p>Nada além do básico, template com cabeçalho, rodapé e conteúdo da página em uma só coluna.</p>
  </article>
  <article class="col-xs-6 col-md-4">
    <a href="http://adammacias.github.io/cps-frontend/templates/page-sidebar">
      <img class="img-thumbnail img-responsive" src="http://adammacias.github.io/cps-frontend/templates/page-sidebar/screenshot.png" alt="" />
    </a>
    <h3 class="h5">Template com barra lateral</h3>
    <p>Template com cabeçalho, rodapé e conteúdo da página separado em duas colunas, o conteúdo principal e a barra complementar.</p>
  </article>
</div>

<h2 id="pginas">Páginas</h2>

<p>Templates páginas estão prontos para receber informações apenas.</p>

<div class="row">
  <article class="col-xs-6 col-md-4">
    <a href="http://adammacias.github.io/cps-frontend/templates/home">
      <img class="img-thumbnail img-responsive" src="http://adammacias.github.io/cps-frontend/templates/home/screenshot.png" alt="" />
    </a>
    <h3 class="h5">Página inicial (Home)</h3>
    <p>Página com caroussel (slides), listagem de artigos, agenda, social e outros.</p>
  </article>
  <article class="col-xs-6 col-md-4">
    <a href="http://adammacias.github.io/cps-frontend/templates/blog">
      <img class="img-thumbnail img-responsive" src="http://adammacias.github.io/cps-frontend/templates/blog/screenshot.png" alt="" />
    </a>
    <h3 class="h5">Página Blog</h3>
    <p>Página com lista de artigos, perfeita para mostrar notícias, eventos e outros artigos.</p>
  </article>
  <article class="col-xs-6 col-md-4">
    <a href="http://adammacias.github.io/cps-frontend/templates/theme">
      <img class="img-thumbnail img-responsive" src="http://adammacias.github.io/cps-frontend/templates/theme/screenshot.png" alt="" />
    </a>
    <h3 class="h5">Página Tema</h3>
    <p>Exemplo de uma página promocional, usada para: eventos, cursos, vestibular e etc..</p>
  </article>
</div>


          </div>
        </main>

      </div>
    </div><!-- /#wrapper  -->

    <footer id="footer">
  <p class="text-center h5"><i class="fa fa-code"></i> criado <i class="fa fa-heart palette-red-color"></i> na Fatec Baixada Santista - Rubens Lara.</p>
  <p class="text-center h6">Por <a href="#">Equipe CPS Front-end</a>.</p>

  <!--<p class="text-center">This site is &copy; to CPS Front-end 2015</p>-->
</footer>



<!-- Scripts -->

<script src="http://adammacias.github.io/cps-frontend/assets/js/main.min.js"></script>



  </body>
</html>
