<h1>História</h1>
<p class="lead">O {{ site.title }} foi criado em um <abbr title="Trabalho de conclusão de curso">TCC</abbr> de alunos da Fatec Rubens Lara - Baixada Santista.</p>
<p>Desenvolvemos websites para Fatecs e Etecs com as melhores das intenções. Porém muitos desses websites não vão passar por uma única pessoa, mas sim por muitas. Por isso criamos este guia de estilos, vulgo styleguide, para que desenvolvedores consigam manter uma padronização de design e boas práticas, para que os websites possuam todos a identidade visual do Centro Paula Souza e mantenha o código limpo e fácil de ser alterado quando necessário.</p>

{% comment %}

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- Códigando -->
<h2 class="docs-h2">Códigando</h2>
<p>Isto é apenas um exemplo! All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available. <code>.h1</code> through <code>.h6</code> classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.</p>
<div class="docs-example docs-example-codigando">
  <table class="table">
    <tbody>
      <tr>
        <td><h1>h1. Centro Paula Souza heading</h1></td>
        <td class="type-infox">Semibold 36px</td>
      </tr>
      <tr>
        <td><h2>h2. Centro Paula Souza heading</h2></td>
        <td class="type-info">Semibold 30px</td>
      </tr>
      <tr>
        <td><h3>h3. Centro Paula Souza heading</h3></td>
        <td class="type-info">Semibold 24px</td>
      </tr>
      <tr>
        <td><h4>h4. Centro Paula Souza heading</h4></td>
        <td class="type-info">Semibold 18px</td>
      </tr>
      <tr>
        <td><h5>h5. Centro Paula Souza heading</h5></td>
        <td class="type-info">Semibold 14px</td>
      </tr>
      <tr>
        <td><h6>h6. Centro Paula Souza heading</h6></td>
        <td class="type-info">Semibold 12px</td>
      </tr>
    </tbody>
  </table>
</div>
{% highlight html %}
<h1>h1. Centro Paula Souza heading</h1>
<h2>h2. Centro Paula Souza heading</h2>
<h3>h3. Centro Paula Souza heading</h3>
<h4>h4. Centro Paula Souza heading</h4>
<h5>h5. Centro Paula Souza heading</h5>
<h6>h6. Centro Paula Souza heading</h6>
{% endhighlight %}

{% endcomment %}
