<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template Home - CPS Front-end</title>
    <!-- CPS Front-end core CSS -->
    <link rel="stylesheet" href="http://adammacias.github.io/cps-bootstrap/assets/css/centropaulasouza.css">
    
    <!-- Custom styles for this template -->
    <link href="home.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <body>
      <a id="skippy" class="sr-only sr-only-focusable" href="#content"><div class="container"><span class="skiplink-text">Pular para o conteúdo</span></div></a>

<h1>TO-DO</h1>


      <!-- CPS Front-end core JavaScript -->
      
        <script src="http://adammacias.github.io/cps-bootstrap/assets/js/main.min.js"></script>
      

      
    </body>
  </html>
