<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Utilitários Responsivo</title>
<meta name="description" content="Guia de estilos de Fatecs e Etecs para desenvolvedores e designers.">
<link rel="canonical" href="http://adammacias.github.io/cps-bootstrap//components/responsive-utilities/">
<link rel="author" href="https://plus.google.com/" title="">
<link rel="alternate" type="application/rss+xml" title="CPS Front-end" href="http://adammacias.github.io/cps-bootstrap/feed.xml" />

<!-- Stylesheet -->
<link rel="stylesheet" href="http://adammacias.github.io/cps-bootstrap/assets/css/docs.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- Favicons -->
<link rel="apple-touch-icon" href="http://adammacias.github.io/cps-bootstrap/assets/img/apple-touch-icon.png">
<link rel="icon" href="http://adammacias.github.io/cps-bootstrap/assets/img/favicon.ico">

<!-- Open Graph Tags -->
<meta property="og:type" content="article">
<meta property="og:title" content="Utilitários Responsivo">
<meta property="og:description" content="Guia de estilos de Fatecs e Etecs para desenvolvedores e designers.">
<meta property="og:url" content="http://adammacias.github.io/components/responsive-utilities/">
<meta property="og:site_name" content="CPS Front-end">
<meta property="og:image" content="http://adammacias.github.io/cps-bootstrap/assets/img/open-graph.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@" />
<meta name="twitter:creator" content="@" />

<!-- Pinned site Windows -->
<meta name="application-name" content="CPS Front-end" />
<meta name="msapplication-TileImage" content="http://adammacias.github.io/cps-bootstrap/assets/img/windows-tile.png">
<meta name="msapplication-TileColor" content="#ffffff">


    <style type="text/css">
    ul#markdown-toc > li:first-child {
      display: none;
    }

    .entry-content h2 {
      border-top: 1px solid #3C0E66;
      margin-top: 40px;
      padding-top: 30px;
    }

      /* EXAMPLE */
    .bd-example {
      background: #E5E5E5;
      padding: 10px 20px;
      border: 1px solid #CCC;
      border-bottom: 0px;
      border-radius: 10px 10px 0 0;
    }
    .bd-example h2 {
      border-top: none;
      margin-top: 20px;
      padding-top: 0px;
    }
    .highlight pre {
      border-radius: 0 0 10px 10px;
    }

    /* BRANDING */

.bd-example .logo {
    /* zoom: 110%;
  -moz-transform: scale(1.1);*/
}


.docs-logo {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.docs-logo p {
  margin: 0;
}

.docs-logo .logo {
  zoom: 110%;
  -moz-transform: scale(1.1);
}





.docs-logo-img {
  padding: 30px;
}
.docs-logo-img img {
  max-width: 300px;
}
.docs-logo-img figcaption {
    margin-top: 15px;
}
.label-success {
  background: lime;
}
.label-danger {
  background: red;
}
.docs-palette {
  padding: 10px 15px 0;
  font-size: 12px;
}



    </style>
  </head>
  <body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#main"><div class="container"><span class="skiplink-text">Pular para conteúdo</span></div></a>

    <header id="top" class="navbar navbar-default" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Alterar navegação</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://adammacias.github.io/cps-bootstrap/">CPS Front-end</a>
    </div>
    <nav id="navbar" class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Todas as Páginas <span class="caret"></span></a>
          <ul class="dropdown-menu">
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/alerts/">Alertas</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/avatars/">Avatares</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//getting-started/best-practices/">Boas práticas</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/button-dropdown/">Botões Dropdowns</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/buttons/">Botões</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/card/">Cards</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/carousel/">Carrossel</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//content/code/">Código</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/collapse/">Sanfona</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//branding/cps/">Centro Paula Souza</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/dropdowns/">Dropdowns</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//branding/etecs/">Etecs</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//branding/fatecs/">Fatecs</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//content/figures/">Figuras</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/forms/">Formulários</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//branding/governo-sp/">Governo do estado de São Paulo</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/grid/">Sistema de Grids</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//about/history/">História</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/icons/">Ícones</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//content/images/">Imagens</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//templates/calendario/">Template Home</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//templates/blog/">Template Blog</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//templates/contact/">Template Contato</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//templates/page/">Template Padrão</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//templates/page-sidebar/">Template Barra lateral</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//templates/showcase-cps/">Template Padrão</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//templates/showcase-etec-aristoteles/">Etec Aristóteles Ferreira</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//templates/home/">Template Home</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//templates/showcase-siga/">SIGA</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//templates/course/">Template Curso</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//templates/estilos/">Template Estilos</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//templates/">Templates</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//getting-started/install/">Instalação</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//getting-started/introduction/">Introdução</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//content/introduction/">Introdução</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/label/">Etiquetas</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//about/license/">Licença</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/lightbox/">Lightbox</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/list-group/">Grupos de listas</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/media-object/">Media object</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/modal/">Modal</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/navbar/">Barra de navegação</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/navs/">Navegações</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//branding/overview/">Visão geral</a>
              </li>
            
            
              
            
              
            
              
            
              
            
              
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/pagination/">Paginação</a>
              </li>
            
            
              
              <li class="item-page active">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/responsive-utilities/">Utilitários Responsivo</a>
              </li>
            
            
              
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//about/showcases/">Showcases</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//content/tables/">Tabelas</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/tabs/">Abas</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//about/team/">Equipe</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//getting-started/template-base/">Template padrão</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//branding/typography/">Tipografia</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//content/typography/">Tipografia</a>
              </li>
            
            
              
              <li class="item-page">
                <a class="entry-link" href="http://adammacias.github.io/cps-bootstrap//components/utilities/">Utilitários</a>
              </li>
            
            
              
            
              
            
              
            
              
            
              
            
        </ul>
        </li>
        -->

        
    
      
      
      

      

      <li class="dropdown ">
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        
          Ponto de partida
        </a>

        <ul class="dropdown-menu">
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//getting-started/introduction">
                Introdução
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//getting-started/install">
                Instalação
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//getting-started/template-base">
                Template Básico
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//getting-started/best-practices">
                Boas práticas
              </a>

              
            </li>
          
        </ul>
      </li>
    
      
      
      

      

      <li class="dropdown ">
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        
          Estilos
        </a>

        <ul class="dropdown-menu">
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//content/introduction">
                Introdução
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//content/typography">
                Tipografia
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//content/code">
                Código
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//content/images">
                Imagens
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//content/tables">
                Tabelas
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//content/figures">
                Figuras
              </a>

              
            </li>
          
        </ul>
      </li>
    
      
      
      

      

      <li class="dropdown ">
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        
          Componentes
        </a>

        <ul class="dropdown-menu">
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/grid">
                Sistema de grids
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/responsive-utilities">
                Utilitários Responsivo
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/media-object">
                Media object
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/icons">
                Ícones
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/buttons">
                Botões
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/button-dropdown">
                Botões Dropdowns
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/forms">
                Formulários
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/dropdowns">
                Dropdowns
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/label">
                Etiquetas
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/alerts">
                Alertas
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/card">
                Cards
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/navs">
                Navegações
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/navbar">
                Barra de navegação
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/pagination">
                Paginação
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/list-group">
                Grupos de listas
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/modal">
                Modal
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/collapse">
                Sanfona
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/tabs">
                Abas
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/carousel">
                Carrossel
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/utilities">
                Utilitários
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/lightbox">
                Lightbox
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//components/avatars">
                Avatares
              </a>

              
            </li>
          
        </ul>
      </li>
    
      
      
      

      

      <li class="dropdown ">
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        
          Identidade
        </a>

        <ul class="dropdown-menu">
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//branding/overview">
                Visão geral
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//branding/cps">
                Centro Paula Souza
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//branding/governo-sp">
                Governo do estado de São Paulo
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//branding/fatecs">
                Fatecs
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//branding/etecs">
                Etecs
              </a>

              
            </li>
          
        </ul>
      </li>
    
      
      
      

      

      <li class="dropdown ">
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        
          Templates
        </a>

        <ul class="dropdown-menu">
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//templates/">
                Todos
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//templates/page">
                Página padrão
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//templates/page-sidebar">
                Página com barra lateral
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//templates/blog">
                Página Blog
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//templates/page-course">
                Página curso
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//templates/page-css">
                Página CSS
              </a>

              
            </li>
          
        </ul>
      </li>
    
      
      
      

      

      <li class="dropdown ">
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        
          Sobre
        </a>

        <ul class="dropdown-menu">
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//about/history">
                História
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//about/team">
                Equipe
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//about/license">
                Licença
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="http://adammacias.github.io/cps-bootstrap//about/showcases">
                Showcases
              </a>

              
            </li>
          
        </ul>
      </li>
    




        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Templates</a>
          <ul class="dropdown-menu">
            
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
              
            
        </ul>
        </li>
        -->


      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/adammacias/cps-bootstrap" target="_blank">GitHub</a></li>
        <li><a href="https://github.com/adammacias/cps-bootstrap/issues" target="_blank">Issues</a></li>
      </ul>
    </nav>
  </div>
</header>


    <header id="page-header">
      <div class="container">
        
  <h1>Componentes</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>


      </div>
    </header>

    <div id="wrapper" class="container">
      <div class="row">

        
        <aside class="col-md-2" role="complementary" role="navigation">
          <br>
          <span class="sr-only">Índice</span>
          
            
          
            
          
            
            <ul class="nav nav-pills nav-stacked">
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/grid">Sistema de grids</a>
                </li>
              
                
                

                
                
                

                <li class="active bd-sidenav-active">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/responsive-utilities">Utilitários Responsivo</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/media-object">Media object</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/icons">Ícones</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/buttons">Botões</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/button-dropdown">Botões Dropdowns</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/forms">Formulários</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/dropdowns">Dropdowns</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/label">Etiquetas</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/alerts">Alertas</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/card">Cards</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/navs">Navegações</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/navbar">Barra de navegação</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/pagination">Paginação</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/list-group">Grupos de listas</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/modal">Modal</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/collapse">Sanfona</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/tabs">Abas</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/carousel">Carrossel</a>
                </li>
              
                
                

                
                
                

                <li class="active bd-sidenav-active">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/utilities">Utilitários</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/lightbox">Lightbox</a>
                </li>
              
                
                

                

                <li class="">
                  <a href="http://adammacias.github.io/cps-bootstrap//components/avatars">Avatares</a>
                </li>
              
            </ul>
            
          
            
          
            
          
            
          
        </aside>
        

        <main id="content" class="col-md-9 col-md-offset-1" role="main"  tabindex="-1">
          <div class="entry-content">
            <h1>Utilitários Responsivo</h1>
            <p>For faster mobile-friendly development, use these utility classes for showing and hiding content by device via media query. Also included are utility classes for toggling content when printed.</p>

<p>Try to use these on a limited basis and avoid creating entirely different versions of the same site. Instead, use them to complement each device’s presentation.</p>

<h2 id="available-classes">Available classes</h2>

<ul>
  <li>The <code>.hidden-*-up</code> classes hide the element when the viewport is at the given breakpoint or wider. For example, <code>.hidden-md-up</code> hides an element on medium, large, and extra-large viewports.</li>
  <li>The <code>.hidden-*-down</code> classes hide the element when the viewport is at the given breakpoint or smaller. For example, <code>.hidden-md-down</code> hides an element on extra-small, small, and medium viewports).</li>
  <li>There are no explicit “visible”/”show” responsive utility classes; you make an element visible by simply not hiding it at that breakpoint size.</li>
  <li>You can combine one <code>.hidden-*-up</code> class with one <code>.hidden-*-down</code> class to show an element only on a given interval of screen sizes. For example, <code>.hidden-sm-down.hidden-xl-up</code> shows the element only on medium and large viewports. Using multiple <code>.hidden-*-up</code> classes or multiple <code>.hidden-*-down</code> classes is redundant and pointless.</li>
  <li>These classes don’t attempt to accommodate less common cases where an element’s visibility can’t be expressed as a single contiguous range of viewport breakpoint sizes; you will instead need to use custom CSS in such cases.</li>
</ul>

<div class="table-responsive">
  <table class="table table-bordered table-striped responsive-utilities">
    <thead>
      <tr>
        <th></th>
        <th>
          Extra small devices
          <small>Portrait phones (&lt;34em)</small>
        </th>
        <th>
          Small devices
          <small>Landscape phones (&ge;34em)</small>
        </th>
        <th>
          Medium devices
          <small>Tablets (&ge;48em)</small>
        </th>
        <th>
          Large devices
          <small>Desktops (&ge;62em)</small>
        </th>
        <th>
          Extra large devices
          <small>Desktops (&ge;75em)</small>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><code>.hidden-xs-down</code></th>
        <td class="is-hidden">Hidden</td>
        <td class="is-visible">Visible</td>
        <td class="is-visible">Visible</td>
        <td class="is-visible">Visible</td>
        <td class="is-visible">Visible</td>
      </tr>
      <tr>
        <th scope="row"><code>.hidden-sm-down</code></th>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-visible">Visible</td>
        <td class="is-visible">Visible</td>
        <td class="is-visible">Visible</td>
      </tr>
      <tr>
        <th scope="row"><code>.hidden-md-down</code></th>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-visible">Visible</td>
        <td class="is-visible">Visible</td>
      </tr>
      <tr>
        <th scope="row"><code>.hidden-lg-down</code></th>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-visible">Visible</td>
      </tr>
      <tr>
        <th scope="row"><code>.hidden-xl-down</code></th>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
      </tr>
      <tr>
        <th scope="row"><code>.hidden-xs-up</code></th>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
      </tr>
      <tr>
        <th scope="row"><code>.hidden-sm-up</code></th>
        <td class="is-visible">Visible</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
      </tr>
      <tr>
        <th scope="row"><code>.hidden-md-up</code></th>
        <td class="is-visible">Visible</td>
        <td class="is-visible">Visible</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
      </tr>
      <tr>
        <th scope="row"><code>.hidden-lg-up</code></th>
        <td class="is-visible">Visible</td>
        <td class="is-visible">Visible</td>
        <td class="is-visible">Visible</td>
        <td class="is-hidden">Hidden</td>
        <td class="is-hidden">Hidden</td>
      </tr>
      <tr>
        <th scope="row"><code>.hidden-xl-up</code></th>
        <td class="is-visible">Visible</td>
        <td class="is-visible">Visible</td>
        <td class="is-visible">Visible</td>
        <td class="is-visible">Visible</td>
        <td class="is-hidden">Hidden</td>
      </tr>
    </tbody>
  </table>
</div>

<h2 id="responsive-utilities-print">Print classes</h2>
<p>Similar to the regular responsive classes, use these for toggling content for print.</p>
<div class="table-responsive">
  <table class="table table-bordered table-striped responsive-utilities">
    <thead>
      <tr>
        <th>Class</th>
        <th>Browser</th>
        <th>Print</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><code>.visible-print-block</code></th>
        <td class="is-hidden">Hidden</td>
        <td class="is-visible">Visible<br />(as <code>display: block</code>)</td>
      </tr>
      <tr>
        <th><code>.visible-print-inline</code></th>
        <td class="is-hidden">Hidden</td>
        <td class="is-visible">Visible<br />(as <code>display: inline</code>)</td>
      </tr>
      <tr>
        <th><code>.visible-print-inline-block</code></th>
        <td class="is-hidden">Hidden</td>
        <td class="is-visible">Visible<br />(as <code>display: inline-block</code>)</td>
      </tr>
      <tr>
        <th><code>.hidden-print</code></th>
        <td class="is-visible">Visible</td>
        <td class="is-hidden">Hidden</td>
      </tr>
    </tbody>
  </table>
</div>

<h2 id="test-cases">Test cases</h2>

<p>Resize your browser or load on different devices to test the responsive utility classes.</p>

<p>Green checkmarks indicate the element <strong>is visible</strong> in your current viewport.</p>

<div class="row responsive-utilities-test visible-on">
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-sm-up visible">&#10004; Visible on extra small</span>
    <span class="hidden-xs-down not-visible">Extra small</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-md-up visible">&#10004; Visible on small or narrower</span>
    <span class="hidden-sm-down not-visible">Small or narrower</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-lg-up visible">&#10004; Visible on medium or narrower</span>
    <span class="hidden-md-down not-visible">Medium or narrower</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-xl-up visible">&#10004; Visible on large or narrower</span>
    <span class="hidden-lg-down not-visible">Large or narrower</span>
  </div>
</div>
<div class="row responsive-utilities-test visible-on">
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-xs-down visible">&#10004; Visible on small or wider</span>
    <span class="hidden-sm-up not-visible">Small or wider</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-sm-down visible">&#10004; Visible on medium or wider</span>
    <span class="hidden-md-up not-visible">Medium or wider</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-md-down visible">&#10004; Visible on large or wider</span>
    <span class="hidden-lg-up not-visible">Large or wider</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-lg-down visible">&#10004; Visible on extra large</span>
    <span class="hidden-xl-up not-visible">Extra large</span>
  </div>
</div>
<div class="row responsive-utilities-test visible-on">
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-sm-up visible">&#10004; Your viewport is exactly extra small</span>
    <span class="hidden-xs-down not-visible">Your viewport is NOT exactly extra small</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-xs-down hidden-md-up visible">&#10004; Your viewport is exactly small</span>
    <span class="hidden-sm-only not-visible">Your viewport is NOT exactly small</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-sm-down hidden-lg-up visible">&#10004; Your viewport is exactly medium</span>
    <span class="hidden-md-only not-visible">Your viewport is NOT exactly medium</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-md-down hidden-xl-up visible">&#10004; Your viewport is exactly large</span>
    <span class="hidden-lg-only not-visible">Your viewport is NOT exactly large</span>
  </div>
  <div class="col-xs-6 col-sm-3">
    <span class="hidden-lg-down visible">&#10004; Your viewport is exactly extra large</span>
    <span class="hidden-xl-only not-visible">Your viewport is NOT exactly extra large</span>
  </div>
</div>

          </div>
        </main>

      </div>
    </div><!-- /#wrapper  -->

    <footer id="footer">
  <p class="text-center">This site is &copy; to CPS Front-end 2015</p>
</footer>



<!-- Scripts -->

<script src="http://adammacias.github.io/cps-bootstrap/assets/js/main.min.js"></script>



  </body>
</html>
