<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include head.html %}
  </head>
  <body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#main"><div class="container"><span class="skiplink-text">Pular para conteúdo</span></div></a>

    {% include header.html %}

    <header id="page-header">
      <div class="container">
        {% include page-headers.html %}
      </div>
    </header>

    <div id="wrapper" class="container">
      <div class="row">

        {% if page.group %}
        <aside class="col-md-2" role="complementary" role="navigation">
          <br>
          <span class="sr-only">Índice</span>
          {% for group in site.data.nav %}
            {% if group.slug == page.group %}
            <ul class="nav nav-pills nav-stacked">
              {% for doc in group.pages %}
                {% assign slug = doc.title | downcase | replace: ' ', '-' | replace:'-&-','-' %}
                {% assign active = nil %}

                {% if page.url contains doc.slug %}
                {% assign active = 'active bd-sidenav-active' %}
                {% endif %}

                <li class="{{ active }}">
                  <a href="{{ site.baseurl | prepend: site.url }}/{{ group.slug | downcase | replace: ' ', '-' }}/{{ doc.slug | downcase | replace: ' ', '-' | replace:'-&-','-' }}">{{ doc.title }}</a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
          {% endfor %}
        </aside>
        {% endif %}

        <main id="content" class="{% if page.group %}col-md-9 col-md-offset-1{% else %}col-md-12{% endif %}" role="main"  tabindex="-1">
          <div class="entry-content">
            <h1>{{ page.title }}</h1>
            {{ content }}
          </div>
        </main>

      </div>
    </div><!-- /#wrapper  -->

    {% include footer.html %}

  </body>
</html>
