<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include head.html %}
  </head>
  <body class="home">
    <a id="skippy" class="sr-only sr-only-focusable" href="#main">
      <div class="container">
        <span class="skiplink-text">Pular para conteúdo</span>
      </div>
    </a>

    {% include header.html %}

    <header id="page-header">
      <div class="container">
        <h1 class="entry-title">{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>
        <p><a href="{{ "getting-started/introduction/" | prepend: site.baseurl | prepend: site.url }}" class="btn btn-primary btn-lg">Ponto de partida</a> — ou — <a href="{{ "getting-started/install/#via-download" | prepend: site.baseurl | prepend: site.url }}" class="btn btn-primary btn-lg">Download</a></p>
      </div>
    </header>

    <div id="wrapper" class="container">
      <div class="row">
        <main id="content" class="col-md-12" role="main"  tabindex="-1">
          <div class="entry-content">
            {{ content }}
          </div>
        </main>
      </div>
    </div><!-- /#wrapper  -->

    {% include footer.html %}

  </body>
</html>
