<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include head.html %}

    <style type="text/css">
    /* BRANDING */



.docs-logo {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.docs-logo p {
  margin: 0;
}

.docs-logo .logo {
  zoom: 110%;
  -moz-transform: scale(1.1);
}





.docs-logo-img {
  padding: 30px;
}
.docs-logo-img img {
  max-width: 300px;
}
.docs-logo-img figcaption {
    margin-top: 15px;
}
.label-success {
  background: lime;
}
.label-danger {
  background: red;
}
.docs-palette {
  padding: 10px 15px 0;
  font-size: 12px;
}



    </style>
  </head>
  <body>
    <a id="skippy" class="sr-only sr-only-focusable" href="#content"><div class="container"><span class="skiplink-text">Pular para conteúdo</span></div></a>

    {% include header.html %}

    <header id="page-header">
      <div class="container">
        {% include page-headers.html %}
      </div>
    </header>

    <div id="wrapper" class="container">


        <main id="content" class="col-md-9 col-md-offset-1" role="main"  tabindex="-1">
          <div class="entry-content">
            <h1>{{ page.title }}</h1>
            {{ content }}
          </div>
        </main>

    </div><!-- /#wrapper  -->

    {% include footer.html %}

  </body>
</html>
