<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - {{ site.title }}</title>

  <!-- {{ site.title }} core CSS -->
  <link rel="stylesheet" href="{{ "assets/css/centropaulasouza.css" | prepend: site.baseurl | prepend: site.url }}">

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  {% if page.css  %}
  <!-- CSS customizado -->
  <link rel="stylesheet" href="{{ page.css }}">
  {% endif  %}
</head>
<body{% if page.body_class %} class="{{ page.body_class }}"{% endif  %}>
  <a id="skippy" class="sr-only sr-only-focusable" href="#content">
    <div class="container">
      <span class="skiplink-text">Pular para o conteúdo</span>
    </div>
  </a>

  {{ content }}

  <!-- {{ site.title }} core JavaScript -->
  {% if site.mode == "dev" %}
  <script src="http://localhost:35729/livereload.js?snipver=1"></script>
  <script src="{{ "assets/js/jquery.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "assets/js/bootstrap.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "assets/js/jquery.fitvids.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ "assets/js/main.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  {% else %}
  <script src="{{ "assets/js/main.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  {% endif %}
  {% if page.js  %}
  <!-- Custom script for this template -->
  <script src="{{ page.js }}"></script>
  {% endif  %}
</body>
</html>
